# Set Up Env

In [1]:
import sys
import os

import sagemaker
from sagemaker import get_execution_role

# Add the parent directory to the sys.path
sys.path.insert(0, os.path.abspath('..'))

# Define IAM role
role = get_execution_role()
role

# Establish S3 bucket connection
import boto3
s3 = boto3.client('s3')
bucket = 'capstone-bucket-4-friends'

print(os.getcwd())

from file_utilities import s3_download

/opt/conda/lib/python3.10/site-packages/sagemaker/base_serializers.py:28: UserWarning: A NumPy version >=1.22.4 and <1.29.0 is required for this version of SciPy (detected version 2.0.0)
  import scipy.sparse

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/opt/conda/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/opt/conda/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/opt/conda/lib/python3.10/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/opt/conda/lib/python3.10/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/opt/conda/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/opt/conda/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/opt/conda/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/opt/conda/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 359, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 446, in do_execute
    res = shell.run_cell(
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_1409/1127303195.py", line 4, in <module>
    import sagemaker
  File "/opt/conda/lib/python3.10/site-packages/sagemaker/__init__.py", line 18, in <module>
    from sagemaker import estimator, parameter, tuner  # noqa: F401
  File "/opt/conda/lib/python3.10/site-packages/sagemaker/estimator.py", line 30, in <module>
    from sagemaker import git_utils, image_uris, vpc_utils, s3
  File "/opt/conda/lib/python3.10/site-packages/sagemaker/image_uris.py", line 24, in <module>
    from sagemaker.jumpstart.constants import DEFAULT_JUMPSTART_SAGEMAKER_SESSION
  File "/opt/conda/lib/python3.10/site-packages/sagemaker/jumpstart/constants.py", line 28, in <module>
    from sagemaker.base_serializers import (
  File "/opt/conda/lib/python3.10/site-packages/sagemaker/base_serializers.py", line 28, in <module>
    import scipy.sparse
  File "/opt/conda/lib/python3.10/site-packages/scipy/sparse/__init__.py", line 295, in <module>
    from ._csr import *
  File "/opt/conda/lib/python3.10/site-packages/scipy/sparse/_csr.py", line 11, in <module>
    from ._sparsetools import (csr_tocsc, csr_tobsr, csr_count_blocks,

AttributeError: _ARRAY_API not found

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml
/home/sagemaker-user/capstone-2024-summer/src/jenna/phase_2

In [3]:
# standard libraries
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
!pip install seaborn -q
import seaborn as sns

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/opt/conda/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/opt/conda/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/opt/conda/lib/python3.10/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/opt/conda/lib/python3.10/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/opt/conda/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/opt/conda/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/opt/conda/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/opt/conda/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 359, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 446, in do_execute
    res = shell.run_cell(
  File "/opt/conda/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/opt/conda/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_1409/2042058619.py", line 6, in <module>
    import matplotlib.pyplot as plt
  File "/opt/conda/lib/python3.10/site-packages/matplotlib/__init__.py", line 161, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "/opt/conda/lib/python3.10/site-packages/matplotlib/rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "/opt/conda/lib/python3.10/site-packages/matplotlib/colors.py", line 57, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "/opt/conda/lib/python3.10/site-packages/matplotlib/scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "/opt/conda/lib/python3.10/site-packages/matplotlib/ticker.py", line 143, in <module>
    from matplotlib import transforms as mtransforms
  File "/opt/conda/lib/python3.10/site-packages/matplotlib/transforms.py", line 49, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

In [4]:
#crsp_and_comp = "CRSP/sp500_crsp_compustat_merged_2018_2023.csv"
#crsp_and_comp_path = s3_download(crsp_and_comp)

In [5]:
#index = "Index/security_master.csv"
#index_path = s3_download(index)

In [9]:
crsp_and_comp_df = pd.read_csv("/home/sagemaker-user/capstone-2024-summer/src/jenna/data_download/new_crsp_compustat_merged_2018_2023.csv")

crsp_and_comp_df.head()

/tmp/ipykernel_1409/1670651475.py:1: DtypeWarning: Columns (0,21,25,26,27,28,29,30,31,32,33,37,38,39,40,43,44,45,46,47,52,53,54,55,657,658) have mixed types. Specify dtype option on import or set low_memory=False.
  crsp_and_comp_df = pd.read_csv("/home/sagemaker-user/capstone-2024-summer/src/jenna/data_download/new_crsp_compustat_merged_2018_2023.csv")

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,dvpsxq,mkvaltq,prccq,prchq,prclq,adjex,naics,shrcd,exchcd,trdstat
0,68389X10,10104,8045,10536,1,7379,2018-01-02,46.170,47.8011,46.63,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A
1,68389X10,10104,8045,10536,1,7379,2018-01-03,47.440,48.0700,47.71,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A
2,68389X10,10104,8045,10536,1,7379,2018-01-04,47.715,48.1900,48.18,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A
3,68389X10,10104,8045,10536,1,7379,2018-01-05,48.280,48.6300,48.47,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A
4,68389X10,10104,8045,10536,1,7379,2018-01-08,47.940,49.0700,48.98,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A

In [10]:
crsp_and_comp_df.dtypes

cusip       object
permno       int64
permco       int64
issuno       int64
hexcd        int64
            ...
adjex      float64
naics      float64
shrcd        int64
exchcd       int64
trdstat     object
Length: 671, dtype: object

In [11]:
og_len = len(crsp_and_comp_df)
og_cols = len(crsp_and_comp_df.columns)
print("Number of records:", og_len)
print("Number of columns:", og_cols)

Number of records: 828593
Number of columns: 671

In [12]:
crsp_and_comp_df.columns.tolist()

['cusip',
 'permno',
 'permco',
 'issuno',
 'hexcd',
 'hsiccd',
 'date',
 'bidlo',
 'askhi',
 'prc',
 'vol',
 'ret',
 'bid',
 'ask',
 'shrout',
 'cfacpr',
 'cfacshr',
 'openprc',
 'numtrd',
 'retx',
 'gvkey',
 'datadate',
 'fyearq',
 'fqtr',
 'fyr',
 'indfmt',
 'consol',
 'popsrc',
 'datafmt',
 'tic',
 'cusip.1',
 'conm',
 'acctchgq',
 'acctstdq',
 'adrrq',
 'ajexq',
 'ajpq',
 'bsprq',
 'compstq',
 'curcdq',
 'curncdq',
 'currtrq',
 'curuscnq',
 'datacqtr',
 'datafqtr',
 'finalq',
 'ogmq',
 'rp',
 'scfq',
 'srcq',
 'staltq',
 'updq',
 'apdedateq',
 'fdateq',
 'pdateq',
 'rdq',
 'acchgq',
 'acomincq',
 'acoq',
 'actq',
 'altoq',
 'ancq',
 'anoq',
 'aociderglq',
 'aociotherq',
 'aocipenq',
 'aocisecglq',
 'aol2q',
 'aoq',
 'apq',
 'aqaq',
 'aqdq',
 'aqepsq',
 'aqpl1q',
 'aqpq',
 'arcedq',
 'arceepsq',
 'arceq',
 'atq',
 'aul3q',
 'billexceq',
 'capr1q',
 'capr2q',
 'capr3q',
 'capsftq',
 'capsq',
 'ceiexbillq',
 'ceqq',
 'cheq',
 'chq',
 'cibegniq',
 'cicurrq',
 'ciderglq',
 'cimiiq',
 'ciotherq',
 'cipenq',
 'ciq',
 'cisecglq',
 'citotalq',
 'cogsq',
 'csh12q',
 'cshfd12',
 'cshfdq',
 'cshiq',
 'cshopq',
 'cshoq',
 'cshprq',
 'cstkcvq',
 'cstkeq',
 'cstkq',
 'dcomq',
 'dd1q',
 'deracq',
 'deraltq',
 'derhedglq',
 'derlcq',
 'derlltq',
 'diladq',
 'dilavq',
 'dlcq',
 'dlttq',
 'doq',
 'dpacreq',
 'dpactq',
 'dpq',
 'dpretq',
 'drcq',
 'drltq',
 'dteaq',
 'dtedq',
 'dteepsq',
 'dtepq',
 'dvintfq',
 'dvpq',
 'epsf12',
 'epsfi12',
 'epsfiq',
 'epsfxq',
 'epspi12',
 'epspiq',
 'epspxq',
 'epsx12',
 'esopctq',
 'esopnrq',
 'esoprq',
 'esoptq',
 'esubq',
 'fcaq',
 'ffoq',
 'finacoq',
 'finaoq',
 'finchq',
 'findlcq',
 'findltq',
 'finivstq',
 'finlcoq',
 'finltoq',
 'finnpq',
 'finreccq',
 'finrecltq',
 'finrevq',
 'finxintq',
 'finxoprq',
 'gdwlamq',
 'gdwlia12',
 'gdwliaq',
 'gdwlid12',
 'gdwlidq',
 'gdwlieps12',
 'gdwliepsq',
 'gdwlipq',
 'gdwlq',
 'glaq',
 'glcea12',
 'glceaq',
 'glced12',
 'glcedq',
 'glceeps12',
 'glceepsq',
 'glcepq',
 'gldq',
 'glepsq',
 'glivq',
 'glpq',
 'hedgeglq',
 'ibadj12',
 'ibadjq',
 'ibcomq',
 'ibmiiq',
 'ibq',
 'icaptq',
 'intaccq',
 'intanoq',
 'intanq',
 'invfgq',
 'invoq',
 'invrmq',
 'invtq',
 'invwipq',
 'ivaeqq',
 'ivaoq',
 'ivltq',
 'ivstq',
 'lcoq',
 'lctq',
 'lltq',
 'lnoq',
 'lol2q',
 'loq',
 'loxdrq',
 'lqpl1q',
 'lseq',
 'ltmibq',
 'ltq',
 'lul3q',
 'mibnq',
 'mibq',
 'mibtq',
 'miiq',
 'msaq',
 'ncoq',
 'niitq',
 'nimq',
 'niq',
 'nopiq',
 'npatq',
 'npq',
 'nrtxtdq',
 'nrtxtepsq',
 'nrtxtq',
 'obkq',
 'oepf12',
 'oeps12',
 'oepsxq',
 'oiadpq',
 'oibdpq',
 'opepsq',
 'optdrq',
 'optfvgrq',
 'optlifeq',
 'optrfrq',
 'optvolq',
 'piq',
 'pllq',
 'pnc12',
 'pncd12',
 'pncdq',
 'pnceps12',
 'pncepsq',
 'pnciapq',
 'pnciaq',
 'pncidpq',
 'pncidq',
 'pnciepspq',
 'pnciepsq',
 'pncippq',
 'pncipq',
 'pncpd12',
 'pncpdq',
 'pncpeps12',
 'pncpepsq',
 'pncpq',
 'pncq',
 'pncwiapq',
 'pncwiaq',
 'pncwidpq',
 'pncwidq',
 'pncwiepq',
 'pncwiepsq',
 'pncwippq',
 'pncwipq',
 'pnrshoq',
 'ppegtq',
 'ppentq',
 'prcaq',
 'prcd12',
 'prcdq',
 'prce12',
 'prceps12',
 'prcepsq',
 'prcpd12',
 'prcpdq',
 'prcpeps12',
 'prcpepsq',
 'prcpq',
 'prcraq',
 'prshoq',
 'pstknq',
 'pstkq',
 'pstkrq',
 'rcaq',
 'rcdq',
 'rcepsq',
 'rcpq',
 'rdipaq',
 'rdipdq',
 'rdipepsq',
 'rdipq',
 'recdq',
 'rectaq',
 'rectoq',
 'rectq',
 'rectrq',
 'recubq',
 'req',
 'retq',
 'reunaq',
 'revtq',
 'rllq',
 'rra12',
 'rraq',
 'rrd12',
 'rrdq',
 'rreps12',
 'rrepsq',
 'rrpq',
 'rstcheltq',
 'rstcheq',
 'saleq',
 'seqoq',
 'seqq',
 'seta12',
 'setaq',
 'setd12',
 'setdq',
 'seteps12',
 'setepsq',
 'setpq',
 'spce12',
 'spced12',
 'spcedpq',
 'spcedq',
 'spceeps12',
 'spceepsp12',
 'spceepspq',
 'spceepsq',
 'spcep12',
 'spcepd12',
 'spcepq',
 'spceq',
 'spidq',
 'spiepsq',
 'spioaq',
 'spiopq',
 'spiq',
 'sretq',
 'stkcoq',
 'stkcpaq',
 'teqq',
 'tfvaq',
 'tfvceq',
 'tfvlq',
 'tieq',
 'tiiq',
 'tstknq',
 'tstkq',
 'txdbaq',
 'txdbcaq',
 'txdbclq',
 'txdbq',
 'txdiq',
 'txditcq',
 'txpq',
 'txtq',
 'txwq',
 'uacoq',
 'uaoq',
 'uaptq',
 'ucapsq',
 'ucconsq',
 'uceqq',
 'uddq',
 'udmbq',
 'udoltq',
 'udpcoq',
 'udvpq',
 'ugiq',
 'uinvq',
 'ulcoq',
 'uniamiq',
 'unopincq',
 'uopiq',
 'updvpq',
 'upmcstkq',
 'upmpfq',
 'upmpfsq',
 'upmsubpq',
 'upstkcq',
 'upstkq',
 'urectq',
 'uspiq',
 'usubdvpq',
 'usubpcvq',
 'utemq',
 'wcapq',
 'wdaq',
 'wddq',
 'wdepsq',
 'wdpq',
 'xaccq',
 'xidoq',
 'xintq',
 'xiq',
 'xoprq',
 'xopt12',
 'xoptd12',
 'xoptd12p',
 'xoptdq',
 'xoptdqp',
 'xopteps12',
 'xoptepsp12',
 'xoptepsq',
 'xoptepsqp',
 'xoptq',
 'xoptqp',
 'xrdq',
 'xsgaq',
 'acchgy',
 'afudccy',
 'afudciy',
 'amcy',
 'aolochy',
 'apalchy',
 'aqay',
 'aqcy',
 'aqdy',
 'aqepsy',
 'aqpy',
 'arcedy',
 'arceepsy',
 'arcey',
 'capxy',
 'cdvcy',
 'chechy',
 'cibegniy',
 'cicurry',
 'cidergly',
 'cimiiy',
 'ciothery',
 'cipeny',
 'cisecgly',
 'citotaly',
 'ciy',
 'cogsy',
 'cshfdy',
 'cshpry',
 'cstkey',
 'depcy',
 'derhedgly',
 'dilady',
 'dilavy',
 'dlcchy',
 'dltisy',
 'dltry',
 'doy',
 'dpcy',
 'dprety',
 'dpy',
 'dteay',
 'dtedy',
 'dteepsy',
 'dtepy',
 'dvpy',
 'dvy',
 'epsfiy',
 'epsfxy',
 'epspiy',
 'epspxy',
 'esubcy',
 'esuby',
 'exrey',
 'fcay',
 'ffoy',
 'fiaoy',
 'fincfy',
 'finrevy',
 'finxinty',
 'finxopry',
 'fopoxy',
 'fopoy',
 'fopty',
 'fsrcoy',
 'fsrcty',
 'fuseoy',
 'fusety',
 'gdwlamy',
 'gdwliay',
 'gdwlidy',
 'gdwliepsy',
 'gdwlipy',
 'glay',
 'glceay',
 'glcedy',
 'glceepsy',
 'glcepy',
 'gldy',
 'glepsy',
 'glivy',
 'glpy',
 'hedgegly',
 'ibadjy',
 'ibcomy',
 'ibcy',
 'ibmiiy',
 'iby',
 'intpny',
 'invchy',
 'itccy',
 'ivacoy',
 'ivchy',
 'ivncfy',
 'ivstchy',
 'miiy',
 'ncoy',
 'niity',
 'nimy',
 'niy',
 'nopiy',
 'nrtxtdy',
 'nrtxtepsy',
 'nrtxty',
 'oancfy',
 'oepsxy',
 'oiadpy',
 'oibdpy',
 'opepsy',
 'optdry',
 'optfvgry',
 'optlifey',
 'optrfry',
 'optvoly',
 'pdvcy',
 'piy',
 'plly',
 'pncdy',
 'pncepsy',
 'pnciapy',
 'pnciay',
 'pncidpy',
 'pncidy',
 'pnciepspy',
 'pnciepsy',
 'pncippy',
 'pncipy',
 'pncpdy',
 'pncpepsy',
 'pncpy',
 'pncwiapy',
 'pncwiay',
 'pncwidpy',
 'pncwidy',
 'pncwiepsy',
 'pncwiepy',
 'pncwippy',
 'pncwipy',
 'pncy',
 'prcay',
 'prcdy',
 'prcepsy',
 'prcpdy',
 'prcpepsy',
 'prcpy',
 'prstkccy',
 'prstkcy',
 'prstkpcy',
 'rcay',
 'rcdy',
 'rcepsy',
 'rcpy',
 'rdipay',
 'rdipdy',
 'rdipepsy',
 'rdipy',
 'recchy',
 'revty',
 'rray',
 'rrdy',
 'rrepsy',
 'rrpy',
 'saley',
 'scstkcy',
 'setay',
 'setdy',
 'setepsy',
 'setpy',
 'sivy',
 'spcedpy',
 'spcedy',
 'spceepspy',
 'spceepsy',
 'spcepy',
 'spcey',
 'spidy',
 'spiepsy',
 'spioay',
 'spiopy',
 'spiy',
 'sppey',
 'sppivy',
 'spstkcy',
 'srety',
 'sstky',
 'stkcoy',
 'stkcpay',
 'tdcy',
 'tfvcey',
 'tiey',
 'tiiy',
 'tsafcy',
 'txachy',
 'txbcofy',
 'txbcoy',
 'txdcy',
 'txdiy',
 'txpdy',
 'txty',
 'txwy',
 'uaolochy',
 'udfccy',
 'udvpy',
 'ufretsdy',
 'ugiy',
 'uniamiy',
 'unopincy',
 'unwccy',
 'uoisy',
 'updvpy',
 'uptacy',
 'uspiy',
 'ustdncy',
 'usubdvpy',
 'utfdocy',
 'utfoscy',
 'utmey',
 'uwkcapcy',
 'wcapchy',
 'wcapcy',
 'wday',
 'wddy',
 'wdepsy',
 'wdpy',
 'xidocy',
 'xidoy',
 'xinty',
 'xiy',
 'xopry',
 'xoptdqpy',
 'xoptdy',
 'xoptepsqpy',
 'xoptepsy',
 'xoptqpy',
 'xopty',
 'xrdy',
 'xsgay',
 'iid',
 'exchg',
 'cik',
 'costat',
 'fic',
 'cshtrq',
 'dvpspq',
 'dvpsxq',
 'mkvaltq',
 'prccq',
 'prchq',
 'prclq',
 'adjex',
 'naics',
 'shrcd',
 'exchcd',
 'trdstat']

# Null Analysis

In [13]:
# Count the number of nulls in each column
null_counts = crsp_and_comp_df.isnull().sum()

# Calculate the percentage of nulls in each column
total_rows = len(crsp_and_comp_df)
null_percentages = (null_counts / total_rows) * 100

In [14]:
null_table = crsp_and_comp_df.isnull().sum().reset_index()
null_table.columns = ["Column", "Null Values"]

# Add column to show the percentage of null values
null_table["Percentage"] = (null_table["Null Values"] / len(crsp_and_comp_df)) * 100

# Sorting the table by the number of null values in descending order
null_table_sorted = null_table.sort_values(by="Null Values", ascending=False).reset_index(drop=True)
null_table_sorted

         Column  Null Values  Percentage
0      ufretsdy       828593       100.0
1         xopty       828593       100.0
2       xoptqpy       828593       100.0
3      xoptepsy       828593       100.0
4    xoptepsqpy       828593       100.0
..          ...          ...         ...
666      hsiccd            0         0.0
667       cusip            0         0.0
668       shrcd            0         0.0
669      exchcd            0         0.0
670     trdstat            0         0.0

[671 rows x 3 columns]

## A1. Drop all columns which contains more than 80% null as they cannot be reasonably obtained or imputed.

In [15]:
og_cols = len(crsp_and_comp_df.columns)
columns_to_drop = null_percentages[null_percentages > 80].index
crsp_and_comp_df = crsp_and_comp_df.drop(columns=columns_to_drop)
new_cols = len(crsp_and_comp_df.columns)
print("Number of columns removed: ", og_cols - new_cols)
print("Number of columns kept:", new_cols)

Number of columns removed:  310
Number of columns kept: 361

In [16]:
crsp_and_comp_df.head()

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,dvpsxq,mkvaltq,prccq,prchq,prclq,adjex,naics,shrcd,exchcd,trdstat
0,68389X10,10104,8045,10536,1,7379,2018-01-02,46.170,47.8011,46.63,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A
1,68389X10,10104,8045,10536,1,7379,2018-01-03,47.440,48.0700,47.71,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A
2,68389X10,10104,8045,10536,1,7379,2018-01-04,47.715,48.1900,48.18,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A
3,68389X10,10104,8045,10536,1,7379,2018-01-05,48.280,48.6300,48.47,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A
4,68389X10,10104,8045,10536,1,7379,2018-01-08,47.940,49.0700,48.98,...,NaN,NaN,NaN,NaN,NaN,NaN,513210.0,11,1,A

In [17]:
crsp_and_comp_df.columns

Index(['cusip', 'permno', 'permco', 'issuno', 'hexcd', 'hsiccd', 'date',
       'bidlo', 'askhi', 'prc',
       ...
       'dvpsxq', 'mkvaltq', 'prccq', 'prchq', 'prclq', 'adjex', 'naics',
       'shrcd', 'exchcd', 'trdstat'],
      dtype='object', length=361)

## Cast date variables

In [18]:
def date_formatting(df):
    """Convert to datetime"""
    date_columns = [
        "nameendt",
        "dclrdt",
        "dlpdt",
        "nextdt",
        "paydt",
        "rcrddt",
        "shrenddt",
        "datadate",
        "apdedateq",
        "fdateq",
        "pdateq",
        "rdq",
        "adjex",
        "ipodate",
    ]
    for col in date_columns:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col], errors="coerce")

date_formatting(crsp_and_comp_df)

## A2. Drop all columns containing duplicate information

In [20]:
og_cols = len(crsp_and_comp_df.columns)
columns_to_drop = [
    "permco",       # Dropped CRSP columns that Rachel dropped before
    "issuno",
    # "tsymbol",
    "retx",
    # "vwretx",
    # "ewretx",
    "hexcd",
    # "siccd",
    "hsiccd",
    # "hsicig",
    # "hsicmg",
    "gvkey",        # Used for merging, redundant after join
    "datadate",     # Likely redundant with CRSP's date
    "indfmt",       # Standard industrial format, usually constant
    "consol",       # Consolidation level, usually constant
    "popsrc",       # Population source, usually constant
    "datafmt",      # Data format, usually constant
    "exchg",        # Exchange code, CRSP has this information
    "prccq",        # Price data, if using CRSP's pricing information
    "ajexq",        # Adjustment factor, if using CRSP's adjustment factors
]
crsp_and_comp_df = crsp_and_comp_df.drop(columns=columns_to_drop)
new_cols = len(crsp_and_comp_df.columns)
print("Number of columns removed: ", og_cols - new_cols)
print("Number of columns kept:", new_cols)

Number of columns removed:  14
Number of columns kept: 347

## Null Check

In [21]:
null_table = crsp_and_comp_df.isnull().sum().reset_index()
null_table.columns = ["Column", "Null Values"]

# Add column to show the percentage of null values
null_table["Percentage"] = (null_table["Null Values"] / len(crsp_and_comp_df)) * 100

# Sorting the table by the number of null values in descending order
null_table_sorted = null_table.sort_values(by="Null Values", ascending=False).reset_index(drop=True)
null_table_sorted

      Column  Null Values  Percentage
0    optvolq       661513   79.835697
1      spidy       658376   79.457104
2      spidq       658123   79.426570
3     optdry       657919   79.401950
4     setd12       656063   79.177956
..       ...          ...         ...
342   shrout            0    0.000000
343   cfacpr            0    0.000000
344    shrcd            0    0.000000
345   exchcd            0    0.000000
346  trdstat            0    0.000000

[347 rows x 3 columns]

# Review unique values and distribution in each remaining column

In [22]:
for column in crsp_and_comp_df.columns:
    print("-" * 10, column, "-" * 10)
    print(crsp_and_comp_df[column].nunique())
    print(crsp_and_comp_df[column].value_counts())

---------- cusip ----------
721
cusip
88160R10    1509
68389X10    1509
59491810    1509
74144T10    1509
12503M10    1509
            ...
56584910      55
82880610      45
66877110      33
72348410      26
88320310      22
Name: count, Length: 721, dtype: int64
---------- permno ----------
568
permno
93436    1509
10104    1509
10107    1509
10138    1509
10145    1509
         ...
89454     250
23570     249
77668     245
25778     213
89757     205
Name: count, Length: 568, dtype: int64
---------- date ----------
1509
date
2020-12-15    554
2020-12-11    554
2020-12-14    554
2020-12-09    554
2020-12-10    554
             ...
2018-01-25    539
2018-01-08    539
2018-01-05    539
2018-01-04    539
2018-01-03    539
Name: count, Length: 1509, dtype: int64
---------- bidlo ----------
137123
bidlo
85.00000     95
75.50000     94
68.00000     94
56.00000     94
75.00000     88
             ..
837.29999     1
885.00000     1
878.00000     1
903.45001     1
717.53003     1
Name: count, Length: 137123, dtype: int64
---------- askhi ----------
137359
askhi
80.00000     106
45.00000     104
75.00000     104
58.00000     100
95.00000     100
            ...
939.40002      1
928.96997      1
919.50000      1
901.08002      1
877.20001      1
Name: count, Length: 137359, dtype: int64
---------- prc ----------
73087
prc
54.00000     94
55.00000     93
60.00000     91
57.00000     91
57.70000     88
             ..
982.38000     1
973.94000     1
977.42999     1
983.13000     1
960.13000     1
Name: count, Length: 73087, dtype: int64
---------- vol ----------
772247
vol
982869.0     6
924272.0     5
1438616.0    5
754610.0     5
1397960.0    5
            ..
2671992.0    1
2948405.0    1
2045113.0    1
1875518.0    1
1682562.0    1
Name: count, Length: 772247, dtype: int64
---------- ret ----------
118202
ret
 0.000000    3854
 0.016949      51
 0.012048      49
-0.014286      48
 0.008696      48
             ...
 0.057850       1
-0.040372       1
 0.035874       1
-0.045948       1
-0.068101       1
Name: count, Length: 118202, dtype: int64
---------- bid ----------
71490
bid
36.50000     88
46.72000     87
52.74000     86
36.18000     85
52.99000     84
             ..
710.58002     1
721.51001     1
742.28003     1
815.12000     1
816.78998     1
Name: count, Length: 71490, dtype: int64
---------- ask ----------
71550
ask
52.75000     87
36.30000     85
37.00000     84
57.00000     84
36.56000     83
             ..
728.01001     1
769.67999     1
724.37000     1
761.96002     1
709.96997     1
Name: count, Length: 71550, dtype: int64
---------- shrout ----------
19114
shrout
921056.0     1509
727010.0     1334
199630.0     1007
315435.0      986
147000.0      601
             ...
567890.0        1
225941.0        1
1749127.0       1
931809.0        1
2748922.0       1
Name: count, Length: 19114, dtype: int64
---------- cfacpr ----------
58
cfacpr
1.000000     763380
4.000000       6826
2.000000       6597
3.000000       6220
1.500000       4036
20.000000      3398
5.000000       1819
10.000000      1747
1.063571       1446
1.132747       1446
1.041209       1395
1.038051       1395
1.170218       1384
1.176335       1383
0.040000       1303
1.272033       1104
1.305385       1076
1.023238       1070
1.020566       1047
1.412272       1029
1.029941        975
1.043657        968
1.056327        944
1.294091        902
0.160903        901
1.187791        880
1.050061        860
1.378496        809
1.418109        809
1.056256        725
1.161043        698
1.486526        680
1.053195        678
1.053984        678
15.000000       670
1.033700        628
1.003412        623
1.444872        597
1.404235        597
1.812738        567
2.250000        551
1.287844        543
1.003097        478
1.129427        440
1.287227        359
1.065576        349
0.504595        313
1.149013        292
1.277329        277
1.900431        219
1.041891        188
1.266029         88
1.506917         82
0.333333         42
1.250000         40
1.030505         20
1.023097         11
1.021755         11
Name: count, dtype: int64
---------- cfacshr ----------
15
cfacshr
1.000000     793502
4.000000       6826
2.000000       6597
3.000000       6220
1.500000       4036
20.000000      3398
5.000000       1819
10.000000      1747
0.040000       1303
0.125000        901
15.000000       670
1.033700        628
2.250000        551
0.333333        355
1.250000         40
Name: count, dtype: int64
---------- openprc ----------
78788
openprc
80.00000      253
90.00000      250
100.00000     218
75.00000      214
60.00000      214
             ...
1919.81006      1
1886.64001      1
197.76100       1
188.31500       1
1817.58997      1
Name: count, Length: 78788, dtype: int64
---------- numtrd ----------
95665
numtrd
13760.0     23
16114.0     22
11121.0     22
11574.0     22
12412.0     21
            ..
102680.0     1
142117.0     1
219951.0     1
141752.0     1
139178.0     1
Name: count, Length: 95665, dtype: int64
---------- fyearq ----------
8
fyearq
2021.0    137343
2020.0    136980
2022.0    135933
2019.0    135803
2018.0    129110
2023.0    103568
2017.0      4278
2024.0      1764
Name: count, dtype: int64
---------- fqtr ----------
4
fqtr
2.0    204037
3.0    203951
1.0    201720
4.0    175007
Name: count, dtype: int64
---------- fyr ----------
12
fyr
12.0    592924
1.0      36703
9.0      36165
6.0      32543
3.0      19888
10.0     17868
5.0      13230
7.0       8903
8.0       8820
4.0       7445
11.0      5880
2.0       4410
Name: count, dtype: int64
---------- tic ----------
560
tic
DG        1489
BF.B      1489
CSCO      1489
DLTR      1489
URBN      1489
          ...
SHPG       193
GOLD.3     189
SHLDQ      185
ESRX       184
CA.1       152
Name: count, Length: 560, dtype: int64
---------- cusip.1 ----------
709
cusip.1
872540109.0    1489
17275R102      1489
461202103.0    1489
703395103.0    1489
437076102.0    1489
               ...
053484101        56
828806109        45
855244109        39
816851109        39
577081102        20
Name: count, Length: 709, dtype: int64
---------- conm ----------
560
conm
DOLLAR GENERAL CORP           1489
BROWN FORMAN CORP             1489
CISCO SYSTEMS INC             1489
DOLLAR TREE INC               1489
URBAN OUTFITTERS INC          1489
                              ...
SHIRE PLC                      193
RANDGOLD RESOURCES LTD         189
SEARS HOLDINGS CORP            185
EXPRESS SCRIPTS HOLDING CO     184
CA INC                         152
Name: count, Length: 560, dtype: int64
---------- acctstdq ----------
3
acctstdq
DS    723397
DU     53548
DI      7794
Name: count, dtype: int64
---------- ajpq ----------
22
ajpq
1.000000     745558
4.000000       8040
3.000000       7472
2.000000       6108
1.500000       2646
10.000000      2244
20.000000      2204
5.000000       1764
50.000000      1448
0.040000       1259
0.125000        882
40.000000       881
1.273766        875
1.500000        694
15.000000       630
1.125000        630
3.000000        503
0.333333        314
2.250000        314
2.250000        189
2.158400         63
1.250000         61
Name: count, dtype: int64
---------- curcdq ----------
1
curcdq
USD    784779
Name: count, dtype: int64
---------- curncdq ----------
3
curncdq
USD    774082
CNY      5711
EUR      4344
Name: count, dtype: int64
---------- currtrq ----------
55
currtrq
1.000000    774082
0.137888       256
0.140563       256
0.155178       256
0.149264       256
0.154867       256
0.152607       252
0.137048       252
0.145574       248
0.157421       248
0.145395       248
0.145588       248
0.157729       248
0.144987       244
0.151071       235
0.139905       192
1.125432       192
1.185697       192
1.159069       192
1.174249       192
1.090426       192
1.232000       192
0.159424       192
0.141560       192
1.091753       192
1.045337       192
0.147262       192
0.980553       192
1.173724       189
0.148999       189
0.145620       189
1.137996       189
0.141203       189
1.058369       189
1.166770       189
1.122382       189
1.098853       189
0.143616       186
1.144898       186
1.086414       186
1.122183       186
1.161917       186
1.137326       186
1.110876       186
1.205386       183
1.068742       183
0.152166       183
0.139905        64
0.141541        64
0.147284        64
0.141227        63
0.145666        63
0.149005        63
0.143641        62
0.153257        61
Name: count, dtype: int64
---------- datacqtr ----------
25
datacqtr
2020Q2    34743
2021Q2    34711
2023Q2    34681
2022Q2    34664
2021Q3    34637
2020Q3    34624
2019Q3    34527
2022Q3    34442
2021Q1    34327
2020Q1    34189
2018Q1    34176
2019Q2    34169
2019Q1    33939
2018Q2    33879
2022Q1    33688
2021Q4    33681
2023Q1    33586
2019Q4    33458
2020Q4    33232
2018Q3    33163
2022Q4    33026
2023Q3    33001
2018Q4    32998
2017Q4     2776
2023Q4      462
Name: count, dtype: int64
---------- datafqtr ----------
27
datafqtr
2021Q3    34668
2020Q3    34639
2021Q2    34589
2020Q2    34586
2022Q2    34493
2019Q3    34408
2022Q3    34389
2021Q1    34245
2020Q1    34161
2019Q2    33998
2023Q2    33995
2021Q4    33841
2022Q1    33796
2019Q1    33792
2023Q1    33614
2019Q4    33605
2020Q4    33468
2018Q3    33283
2022Q4    33255
2018Q4    33165
2018Q2    32314
2023Q3    31683
2018Q1    30284
2023Q4     4276
2017Q4     3397
2024Q1     1764
2017Q3      881
Name: count, dtype: int64
---------- finalq ----------
1
finalq
Y    784717
Name: count, dtype: int64
---------- rp ----------
2
rp
Q     783521
SA      1258
Name: count, dtype: int64
---------- scfq ----------
1
scfq
7.0    781665
Name: count, dtype: int64
---------- srcq ----------
9
srcq
5.0     721036
53.0     59000
8.0       2361
88.0      1505
3.0        443
20.0       254
37.0        77
21.0        63
99.0        40
Name: count, dtype: int64
---------- updq ----------
2
updq
3.0    784654
2.0       125
Name: count, dtype: int64
---------- apdedateq ----------
430
apdedateq
2018-03-31    27648
2022-12-31    27632
2023-09-30    27520
2018-06-30    27199
2023-06-30    26953
              ...
2018-11-17       59
2018-11-29       59
2023-11-04       42
2023-12-01       21
2023-11-18       21
Name: count, Length: 430, dtype: int64
---------- fdateq ----------
1621
fdateq
2020-05-11    4977
2021-11-08    4864
2022-08-08    4800
2022-08-01    4416
2020-08-03    4224
              ...
2024-01-17      21
2024-01-26      21
2024-01-03      21
2020-12-14      15
2019-09-24       7
Name: count, Length: 1621, dtype: int64
---------- pdateq ----------
1160
pdateq
2020-10-29    4096
2019-04-25    4032
2023-04-27    3906
2020-07-30    3904
2018-04-26    3776
              ...
2024-01-25      21
2023-12-15      21
2024-01-05      21
2019-03-19       9
2019-09-03       2
Name: count, Length: 1160, dtype: int64
---------- rdq ----------
1168
rdq
2020-10-29    4864
2023-04-27    4588
2018-10-25    4402
2023-07-27    4352
2018-04-26    4288
              ...
2024-01-25      21
2024-01-05      21
2019-05-31      20
2019-08-23       7
2019-04-08       7
Name: count, Length: 1168, dtype: int64
---------- acchgq ----------
1
acchgq
0.0    782196
Name: count, dtype: int64
---------- acomincq ----------
8781
acomincq
 0.000       22143
-1.000        1512
-5.000        1500
-2.000        1389
-3.000        1131
             ...
-2576.000       20
-0.922          15
-0.135           7
-0.009           7
 3.403           1
Name: count, Length: 8781, dtype: int64
---------- acoq ----------
7591
acoq
0.000       76651
216.000       814
180.000       757
138.000       752
335.000       747
            ...
1673.000       21
27.317         15
20.744          7
36.505          7
23.349          1
Name: count, Length: 7591, dtype: int64
---------- actq ----------
10013
actq
2817.000    254
3829.000    254
1590.000    253
3969.000    253
3799.000    252
           ...
0.172         8
276.719       7
145.934       7
581.600       2
418.795       1
Name: count, Length: 10013, dtype: int64
---------- altoq ----------
9265
altoq
170.000    508
367.000    505
211.000    505
369.000    444
549.000    443
          ...
14.401      15
0.211        8
33.724       7
40.571       7
84.805       1
Name: count, Length: 9265, dtype: int64
---------- ancq ----------
9619
ancq
6690.000     252
12254.000    251
3513.000     191
9547.000     191
15289.000    191
            ...
0.211          8
77.846         7
115.825        7
282.900        2
201.178        1
Name: count, Length: 9619, dtype: int64
---------- anoq ----------
1157
anoq
 0.0        562408
 9.0           508
 16.0          505
 10.0          439
-8.0           379
             ...
 3013.0         61
-14802.0        61
 231.5          61
 1536.0         61
 25.0           42
Name: count, Length: 1157, dtype: int64
---------- aociderglq ----------
3530
aociderglq
 0.000      241327
-2.000        8356
-1.000        6946
 1.000        6342
 2.000        4926
             ...
 357.000        21
 104.963        21
 111.075        21
-12.025         21
 5.336          21
Name: count, Length: 3530, dtype: int64
---------- aociotherq ----------
1156
aociotherq
 0.000       604566
-1.000         6102
 2.000         3841
-4.000         3399
-2.000         3294
              ...
 6.847           42
-1509.000        42
-1.556           21
 9.300           21
-202.000          9
Name: count, Length: 1156, dtype: int64
---------- aocipenq ----------
4428
aocipenq
 0.000       244408
-1.000         4696
-4.000         3455
-2.000         3029
-3.000         2172
              ...
 24.300          21
-44.296          21
-190.111         21
-1555.900        21
-642.000         21
Name: count, Length: 4428, dtype: int64
---------- aocisecglq ----------
3
aocisecglq
 0.0     748493
-1.0         64
 29.6        64
Name: count, dtype: int64
---------- aol2q ----------
6492
aol2q
0.000       71858
1.000        3895
3.000        2719
8.000        2511
2.000        2401
            ...
542.000        21
2826.000       20
515.000        15
1055.498       15
115.121         7
Name: count, Length: 6492, dtype: int64
---------- aoq ----------
12010
aoq
2948.000     192
3063.000     192
18730.000    192
2846.000     192
1889.000     191
            ...
0.211          8
40.571         7
42.292         7
33.100         2
138.159        1
Name: count, Length: 12010, dtype: int64
---------- apq ----------
10042
apq
0.000      2535
271.000     569
253.000     502
224.000     499
711.000     444
           ...
24.356       15
23.529        7
4.963         7
92.200        2
23.713        1
Name: count, Length: 10042, dtype: int64
---------- aqaq ----------
1891
aqaq
 0.000      21345
-1.300       4401
-0.650       4275
-1.950       3809
-1.000       3662
            ...
-10.512        31
-11.519        30
-59.930        30
-105.950       21
-9.600         21
Name: count, Length: 1891, dtype: int64
---------- aqdq ----------
158
aqdq
 0.00    67379
-0.01    48316
-0.02    28361
-0.03    18709
-0.04    12663
         ...
-1.30       61
-0.86       61
 0.87       61
 0.70       61
-1.09       61
Name: count, Length: 158, dtype: int64
---------- aqepsq ----------
150
aqepsq
 0.00    65614
-0.01    46422
-0.02    27858
-0.03    18099
-0.04    12587
         ...
 1.88       61
-0.87       61
 0.75       61
 0.88       61
-1.09       61
Name: count, Length: 150, dtype: int64
---------- aqpl1q ----------
6322
aqpl1q
0.000       123807
2.000         1913
15.000        1641
21.000        1449
6.000         1383
             ...
85.556          21
1217.064        21
0.078            7
224.300          2
122.663          1
Name: count, Length: 6322, dtype: int64
---------- aqpq ----------
1977
aqpq
 0.000      26104
-1.000       9186
-2.000       8590
-3.000       7229
-4.000       5135
            ...
-12.978        31
-92.200        30
-17.722        30
-12.800        21
-163.000       21
Name: count, Length: 1977, dtype: int64
---------- atq ----------
12298
atq
18064.000    190
12252.000    188
21695.000    188
14870.000    187
33471.000    186
            ...
0.383          8
354.565        7
261.759        7
864.500        2
619.973        1
Name: count, Length: 12298, dtype: int64
---------- aul3q ----------
1667
aul3q
0.000       457561
1.000         3835
2.000         2883
4.000         2226
8.000         1891
             ...
1019.000        42
158.000         42
306.531         42
2367.000        35
54.852          21
Name: count, Length: 1667, dtype: int64
---------- billexceq ----------
2899
billexceq
0.000       750
9.000       689
12.000      571
10.000      565
1000.000    441
           ...
4459.593     21
2033.000     20
101.818       7
115.122       7
270.188       1
Name: count, Length: 2899, dtype: int64
---------- capsq ----------
10596
capsq
0.000        59948
12753.000     1384
654.600        821
41.100         690
32.000         439
             ...
0.020            8
17.760           7
41.132           7
90.700           2
160.265          1
Name: count, Length: 10596, dtype: int64
---------- ceqq ----------
12012
ceqq
 12659.000    253
 3542.000     253
 3446.000     252
 7758.000     251
 18952.000    250
             ...
 0.024          8
-79.223         7
-7.439          7
-538.600        2
-338.648        1
Name: count, Length: 12012, dtype: int64
---------- cheq ----------
10780
cheq
742.000     443
68.000      440
334.000     437
1574.000    380
99.000      378
           ...
0.172         8
55.487        7
176.601       7
378.100       2
257.436       1
Name: count, Length: 10780, dtype: int64
---------- chq ----------
10016
chq
168.000    560
377.000    442
858.000    441
68.000     439
453.000    383
          ...
0.172        8
52.286       7
63.624       7
162.100      2
256.867      1
Name: count, Length: 10016, dtype: int64
---------- cibegniq ----------
8556
cibegniq
 265.000    883
 185.000    819
 120.000    816
 310.000    757
 162.000    757
           ...
-80.331      15
 5.099        7
-3.949        7
-47.400       2
-6.352        1
Name: count, Length: 8556, dtype: int64
---------- cicurrq ----------
4745
cicurrq
 0.000     170460
-1.000       6542
 1.000       6316
 2.000       5548
-2.000       4511
            ...
 70.029        21
 1.908         21
-20.221        21
 0.010          7
 2.455          1
Name: count, Length: 4745, dtype: int64
---------- ciderglq ----------
2949
ciderglq
 0.000     283504
 1.000      17799
 2.000      10171
-1.000       8609
 4.000       7535
            ...
 7.604         21
 11.300        21
 11.313        21
-1.654         21
 0.403         21
Name: count, Length: 2949, dtype: int64
---------- cimiiq ----------
2098
cimiiq
 0.000      413935
 1.000       15323
 2.000       13439
 3.000        8701
-1.000        7372
             ...
-0.498          42
 38.422         21
 7.100          21
-214.000        21
 6.002          21
Name: count, Length: 2098, dtype: int64
---------- ciotherq ----------
951
ciotherq
 0.000      654784
 1.000        6151
-1.000        5292
-2.000        3781
 2.000        3204
             ...
-356.000        42
-3.294          42
-575.000        42
-0.761          42
 0.379          21
Name: count, Length: 951, dtype: int64
---------- cipenq ----------
2130
cipenq
 0.000     328410
 1.000      21662
 2.000      14234
-1.000      11808
 3.000       9846
            ...
-8.530         42
 4.263         42
-14.517        42
 2.842         40
 36.429        21
Name: count, Length: 2130, dtype: int64
---------- ciq ----------
8696
ciq
 153.000    885
 171.000    821
 239.000    810
 204.000    757
 190.000    753
           ...
-79.244      15
-3.939        7
 5.438        7
-86.500       2
-3.897        1
Name: count, Length: 8696, dtype: int64
---------- cisecglq ----------
2240
cisecglq
 0.000     483426
-1.000       9801
 1.000       7836
-2.000       6067
 2.000       4584
            ...
 0.839         21
 14.800        21
 0.295         21
 1.087         15
 0.339          7
Name: count, Length: 2240, dtype: int64

## B2. Split shrcd to two columns [SHRCD_Type, SHRCD_Detail]

In [24]:
crsp_and_comp_df[["SHRCD_Type", "SHRCD_Detail"]] = crsp_and_comp_df["shrcd"].astype(str).str.split("", expand=True).iloc[:, 1:3]

In [26]:
for column in ["SHRCD_Type", "SHRCD_Detail"]:
    print("-" * 10, column, "-" * 10)
    print(crsp_and_comp_df[column].nunique())
    print(crsp_and_comp_df[column].value_counts())

---------- SHRCD_Type ----------
4
SHRCD_Type
1    810123
3     12434
4      4527
7      1509
Name: count, dtype: int64
---------- SHRCD_Detail ----------
3
SHRCD_Detail
1    726980
2     57873
8     43740
Name: count, dtype: int64

## B3. Keep only records where SHRCD_type == 1 (Ordinary Common Shares)

In [28]:
og_len = len(crsp_and_comp_df)
crsp_and_comp_df = crsp_and_comp_df[crsp_and_comp_df["SHRCD_Type"] == "1"]
new_len = len(crsp_and_comp_df)
print("num_records_removed: ", og_len - new_len)
print("num_records_kept: ", new_len)

num_records_removed:  18470
num_records_kept:  810123

# Review exchcd: Listed Exchange

EXCHCD is a code indicating the exchange on which a security is listed.

## C1. Fill exchcd na with 0 as "not listed in any exchange"

In [32]:
# crsp_and_comp_df["exchcd"] = pd.to_numeric(crsp_and_comp_df["exchcd"], errors="coerce").fillna(0).astype(int)

In [31]:
crsp_and_comp_df.loc[:, "exchcd"] = pd.to_numeric(crsp_and_comp_df["exchcd"], errors="coerce").fillna(0).astype(int)

## C2. Remove all records where exchcd < 0 (Halted, Suspended, or Not Trading)

In [35]:
og_len = len(crsp_and_comp_df)
crsp_and_comp_df = crsp_and_comp_df[crsp_and_comp_df["exchcd"] > 0]
new_len = len(crsp_and_comp_df)
print("num_records_removed: ", og_len - new_len)
print("num_records_kept: ", new_len)

crsp_and_comp_df["exchcd"] = crsp_and_comp_df["exchcd"].astype(str)

TypeError: '>' not supported between instances of 'str' and 'int'

# Review primexch: Primary Exchange

Primary Exchange is a one-character code which identifies the primary exchange on which the security trades.

https://www.crsp.org/wp-content/uploads/appendix/FlagType_EC.html

In [36]:
if 'primexch' in crsp_and_comp_df.columns:
    print("'primexch' column exists in the DataFrame")
else:
    print("'primexch' column does not exist in the DataFrame")

'primexch' column does not exist in the DataFrame

# Review trdstat: Trading Status

Trading Status is a one-character field containing the trading status of securities.

## E1. Fill trdstat na with X as "Unknown"

In [37]:
crsp_and_comp_df["trdstat"] = crsp_and_comp_df["trdstat"].fillna("X")

## E2. Keep only records where trdstat == A (Active trading status)

In [38]:
og_len = len(crsp_and_comp_df)
crsp_and_comp_df = crsp_and_comp_df[crsp_and_comp_df["trdstat"] == "A"]
new_len = len(crsp_and_comp_df)
print("num_records_removed: ", og_len - new_len)
print("num_records_kept: ", new_len)

num_records_removed:  0
num_records_kept:  809867

# Review secstat: Security Status

Security Status is a one-character code that describes the status of a security.

In [41]:
if crsp_and_comp_df.get('secstat') is not None:
    print("'secstat' column exists in the DataFrame")
else:
    print("'secstat' column does not exist in the DataFrame")

'secstat' column does not exist in the DataFrame

In [42]:
null_table = crsp_and_comp_df.isnull().sum().reset_index()
null_table.columns = ["Column", "Null Values"]

# Add column to show the percentage of null values
null_table["Percentage"] = (null_table["Null Values"] / len(crsp_and_comp_df)) * 100

# Sorting the table by the number of null values in descending order
null_table_sorted = null_table.sort_values(by="Null Values", ascending=False).reset_index(drop=True)
null_table_sorted

           Column  Null Values  Percentage
0         optvolq       644212   79.545407
1           spidy       641027   79.152132
2           spidq       640774   79.120893
3          optdry       640618   79.101630
4        seteps12       640171   79.046436
..            ...          ...         ...
344         shrcd            0    0.000000
345        exchcd            0    0.000000
346       trdstat            0    0.000000
347    SHRCD_Type            0    0.000000
348  SHRCD_Detail            0    0.000000

[349 rows x 3 columns]

# Review naics: North American Industry Classification System Code

North American Industry Classification System Code (NAICS) is an 6-character code used to group companies with similar products or services.

NAICS is a hierachical code, containing up to six digits: The first two fields, NAICS sectors, designate general categories of economic activity, the third field, sub-sector, further defines the sector, the fourth field is the industry group, the fifth field is the NAICS industry, and the sixth field represents the national industry (a zero in the 6th digit generally indicates that the NAICS industry and teh country industry are the same).

## F1. Fill naics na with 999999 as "Unknown"

In [43]:
crsp_and_comp_df["naics"] = crsp_and_comp_df["naics"].fillna("999999")

## F2. Split naics to two columns ['NAICS_Sector', 'NAICS_Secondary']

In [44]:
crsp_and_comp_df["NAICS_Sector"] = crsp_and_comp_df["naics"].astype(str).str[:2]
crsp_and_comp_df["NAICS_Secondary"] = crsp_and_comp_df["naics"].astype(str).str[2:]

In [46]:
for column in ["NAICS_Sector", "NAICS_Secondary"]:
    print("-" * 10, column, "-" * 10)
    print(crsp_and_comp_df[column].nunique())
    print(crsp_and_comp_df[column].value_counts())

---------- NAICS_Sector ----------
22
NAICS_Sector
33    181240
52    104121
51     92319
32     81278
22     44241
53     43740
31     43631
48     33853
21     27162
54     25260
45     22840
42     19617
99     18243
72     16599
56     15090
44     12317
62     10563
23      7545
71      4527
49      3018
81      1509
11      1154
Name: count, dtype: int64
---------- NAICS_Secondary ----------
170
NAICS_Secondary
11.0      33198
2110.0    31689
3210.0    28671
1120.0    28650
4413.0    28155
          ...
5310.0     1169
6112.0     1148
9920.0     1073
3921.0      942
9990.0      213
Name: count, Length: 170, dtype: int64

## F3. Clean-up the NAICS sector column to readable format

https://www.census.gov/naics/reference_files_tools/2022_NAICS_Manual.pdf

In [47]:
sector_dict = {
    "11": "Agriculture, Forestry, Fishing and Hunting",
    "21": "Mining, Quarrying, and Oil and Gas Extraction",
    "22": "Utilities",
    "23": "Construction",
    "31": "Manufacturing",
    "32": "Manufacturing",
    "33": "Manufacturing",
    "42": "Wholesale Trade",
    "44": "Retail Trade",
    "45": "Retail Trade",
    "48": "Transportation and Warehousing",
    "49": "Transportation and Warehousing",
    "51": "Information",
    "52": "Finance and Insurance",
    "53": "Real Estate and Rental and Leasing",
    "54": "Professional, Scientific, and Technical Services",
    "55": "Management of Companies and Enterprises",
    "56": "Administrative and Support and Waste Management and Remediation Services",
    "61": "Educational Services",
    "62": "Health Care and Social Assistance",
    "71": "Arts, Entertainment, and Recreation",
    "72": "Accommodation and Food Services",
    "81": "Other Services (except Public Administration)",
    "92": "Public Administration",
    "99": "Unknown",
}

crsp_and_comp_df["NAICS_Sector"] = crsp_and_comp_df["NAICS_Sector"].replace(sector_dict)

In [48]:
print(crsp_and_comp_df["NAICS_Sector"].value_counts())

NAICS_Sector
Manufacturing                                                               306149
Finance and Insurance                                                       104121
Information                                                                  92319
Utilities                                                                    44241
Real Estate and Rental and Leasing                                           43740
Transportation and Warehousing                                               36871
Retail Trade                                                                 35157
Mining, Quarrying, and Oil and Gas Extraction                                27162
Professional, Scientific, and Technical Services                             25260
Wholesale Trade                                                              19617
Unknown                                                                      18243
Accommodation and Food Services                                              16599
Administrative and Support and Waste Management and Remediation Services     15090
Health Care and Social Assistance                                            10563
Construction                                                                  7545
Arts, Entertainment, and Recreation                                           4527
Other Services (except Public Administration)                                 1509
Agriculture, Forestry, Fishing and Hunting                                    1154
Name: count, dtype: int64

# Sort DF to ensure date order

### Forward-fill:
    - financial statement items that don't change frequently
    - variables that, when missing, can reasonably be assumed to be the same as the last known value

In [27]:
# List of variables to forward-fill
vars_to_ffill = ['fyearq',  # Fiscal Year
                 'fyr',     # Fiscal Year-end Month
                 'cusip',   # Latest 8 letter security ID
                 'conm',    # Company Name
                 'acctstdq',# Accounting Standard (acctstdq)
                 'atq',     # Assets - Total
                 'ltq',     # Derivative Assets Long-Term
                 'ceqq',    # Common/Ordinary Equity - Total
                 'seqq'     # Stockholders Equity > Parent > Index Fundamental > Quarterly
                ]

In [28]:
# Null analysis recap before re
def null_analysis(df, columns):
    null_table = df[columns].isnull().sum().reset_index()
    null_table.columns = ["Column", "Null Values"]
    null_table["Percentage"] = (null_table["Null Values"] / len(df)) * 100
    return null_table.sort_values(by="Null Values", ascending=False).reset_index(drop=True)

# Perform null analysis before forward-fill
null_analysis_before = null_analysis(crsp_and_comp_df, vars_to_ffill)

In [29]:
# Sort df to prep for forward-fill
crsp_and_comp_df = crsp_and_comp_df.sort_values(['permno', 'date'])

# Perform forward-fill within each permno group
crsp_and_comp_df[vars_to_ffill] = crsp_and_comp_df.groupby('permno')[vars_to_ffill].ffill()

In [31]:
# Perform null analysis after forward-fill
null_analysis_after = null_analysis(crsp_and_comp_df, vars_to_ffill)

# Compare the results
comparison = pd.merge(null_analysis_before, null_analysis_after, on='Column', suffixes=('_before', '_after'))
comparison['Null_Reduction'] = comparison['Null Values_before'] - comparison['Null Values_after']
comparison['Percentage_Reduction'] = comparison['Percentage_before'] - comparison['Percentage_after']

# Sort by the reduction in null values
comparison_sorted = comparison.sort_values(by='Null_Reduction', ascending=False).reset_index(drop=True)

# Display the results
print("Null Analysis Before Forward-Fill:")
print(null_analysis_before)
print("\nNull Analysis After Forward-Fill:")
print(null_analysis_after)
print("\nComparison of Null Values Before and After Forward-Fill:")
print(comparison_sorted)

Null Analysis Before Forward-Fill:
     Column  Null Values  Percentage
0      seqq        45422    5.481823
1       ltq        45422    5.481823
2      ceqq        45422    5.481823
3       atq        45422    5.481823
4  acctstdq        43854    5.292586
5    fyearq        43814    5.287759
6       fyr        43814    5.287759
7      conm        43814    5.287759
8     cusip            0    0.000000

Null Analysis After Forward-Fill:
     Column  Null Values  Percentage
0      seqq        43926    5.301276
1       ltq        43926    5.301276
2      ceqq        43926    5.301276
3       atq        43926    5.301276
4  acctstdq        43854    5.292586
5    fyearq        43814    5.287759
6       fyr        43814    5.287759
7      conm        43814    5.287759
8     cusip            0    0.000000

Comparison of Null Values Before and After Forward-Fill:
     Column  Null Values_before  Percentage_before  Null Values_after  \
0      seqq               45422           5.481823              43926
1       ltq               45422           5.481823              43926
2      ceqq               45422           5.481823              43926
3       atq               45422           5.481823              43926
4  acctstdq               43854           5.292586              43854
5    fyearq               43814           5.287759              43814
6       fyr               43814           5.287759              43814
7      conm               43814           5.287759              43814
8     cusip                   0           0.000000                  0

   Percentage_after  Null_Reduction  Percentage_Reduction
0          5.301276            1496              0.180547
1          5.301276            1496              0.180547
2          5.301276            1496              0.180547
3          5.301276            1496              0.180547
4          5.292586               0              0.000000
5          5.287759               0              0.000000
6          5.287759               0              0.000000
7          5.287759               0              0.000000
8          0.000000               0              0.000000