# Set Up Env

In [1]:
import sys
import os

import sagemaker
from sagemaker import get_execution_role

# Add the parent directory to the sys.path
sys.path.insert(0, os.path.abspath('..'))

# Define IAM role
role = get_execution_role()
role

# Establish S3 bucket connection
import boto3
s3 = boto3.client('s3')
bucket = 'capstone-bucket-4-friends'

print(os.getcwd())

from file_utilities import s3_download

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml
/home/sagemaker-user/capstone-2024-summer/src/jenna

In [2]:
# standard libraries
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
!pip install seaborn -q
import seaborn as sns

In [3]:
#crsp_and_comp = "CRSP/sp500_crsp_compustat_merged_2018_2023.csv"
#crsp_and_comp_path = s3_download(crsp_and_comp)

In [4]:
#index = "Index/security_master.csv"
#index_path = s3_download(index)

In [3]:
crsp_and_comp_df = pd.read_csv("/home/sagemaker-user/capstone-2024-summer/data/sp500_crsp_compustat_merged_2018_2023.csv")

crsp_and_comp_df.head()

/tmp/ipykernel_214/3900309308.py:1: DtypeWarning: Columns (0,21,25,26,27,28,29,30,31,32,33,37,38,39,40,43,44,45,46,47,52,53,54,55,657,658) have mixed types. Specify dtype option on import or set low_memory=False.
  crsp_and_comp_df = pd.read_csv("/home/sagemaker-user/capstone-2024-summer/data/sp500_crsp_compustat_merged_2018_2023.csv")

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,costat,fic,cshtrq,dvpspq,dvpsxq,mkvaltq,prccq,prchq,prclq,adjex
0,68389X10,10104,8045,10536,1,7379,2018-01-02,46.170,47.8011,46.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68389X10,10104,8045,10536,1,7379,2018-01-03,47.440,48.0700,47.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68389X10,10104,8045,10536,1,7379,2018-01-04,47.715,48.1900,48.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,68389X10,10104,8045,10536,1,7379,2018-01-05,48.280,48.6300,48.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68389X10,10104,8045,10536,1,7379,2018-01-08,47.940,49.0700,48.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
crsp_and_comp_df.dtypes

cusip       object
permno       int64
permco       int64
issuno       int64
hexcd        int64
            ...
mkvaltq    float64
prccq      float64
prchq      float64
prclq      float64
adjex      float64
Length: 667, dtype: object

In [5]:
og_len = len(crsp_and_comp_df)
og_cols = len(crsp_and_comp_df.columns)
print("Number of records:", og_len)
print("Number of columns:", og_cols)

Number of records: 828593
Number of columns: 667

In [6]:
# crsp_and_comp_df.columns.tolist()

# Null Analysis

In [7]:
# Count the number of nulls in each column
null_counts = crsp_and_comp_df.isnull().sum()

# Calculate the percentage of nulls in each column
total_rows = len(crsp_and_comp_df)
null_percentages = (null_counts / total_rows) * 100

In [8]:
null_table = crsp_and_comp_df.isnull().sum().reset_index()
null_table.columns = ["Column", "Null Values"]

# Add column to show the percentage of null values
null_table["Percentage"] = (null_table["Null Values"] / len(crsp_and_comp_df)) * 100

# Sorting the table by the number of null values in descending order
null_table_sorted = null_table.sort_values(by="Null Values", ascending=False).reset_index(drop=True)
null_table_sorted

         Column  Null Values  Percentage
0      ufretsdy       828593       100.0
1         xopty       828593       100.0
2       xoptqpy       828593       100.0
3      xoptepsy       828593       100.0
4    xoptepsqpy       828593       100.0
..          ...          ...         ...
662      permno            0         0.0
663      hsiccd            0         0.0
664       hexcd            0         0.0
665      permco            0         0.0
666      issuno            0         0.0

[667 rows x 3 columns]

## A1. Drop all columns which contains more than 80% null as they cannot be reasonably obtained or imputed.

In [9]:
og_cols = len(crsp_and_comp_df.columns)
columns_to_drop = null_percentages[null_percentages > 80].index
crsp_and_comp_df = crsp_and_comp_df.drop(columns=columns_to_drop)
new_cols = len(crsp_and_comp_df.columns)
print("Number of columns removed: ", og_cols - new_cols)
print("Number of columns kept:", new_cols)

Number of columns removed:  310
Number of columns kept: 357

In [10]:
crsp_and_comp_df.head()

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,costat,fic,cshtrq,dvpspq,dvpsxq,mkvaltq,prccq,prchq,prclq,adjex
0,68389X10,10104,8045,10536,1,7379,2018-01-02,46.170,47.8011,46.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68389X10,10104,8045,10536,1,7379,2018-01-03,47.440,48.0700,47.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68389X10,10104,8045,10536,1,7379,2018-01-04,47.715,48.1900,48.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,68389X10,10104,8045,10536,1,7379,2018-01-05,48.280,48.6300,48.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68389X10,10104,8045,10536,1,7379,2018-01-08,47.940,49.0700,48.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
def date_formatting(df):
    """Convert to datetime"""
    date_columns = [
        "nameendt",
        "dclrdt",
        "dlpdt",
        "nextdt",
        "paydt",
        "rcrddt",
        "shrenddt",
        "datadate",
        "apdedateq",
        "fdateq",
        "pdateq",
        "rdq",
        "adjex",
        "ipodate",
    ]
    for col in date_columns:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col], errors="coerce")

date_formatting(crsp_and_comp_df)

## A2. Drop all columns containing duplicate information

In [ ]:
og_cols = len(crsp_df.columns)
columns_to_drop = [
    "permco",       # Dropped CRSP columns that Rachel dropped before
    "issuno",
    "tsymbol",
    "retx",
    "vwretx",
    "ewretx",
    "hexcd",
    "siccd",
    "hsiccd",
    "hsicig",
    "hsicmg",
    "gvkey",        # Used for merging, redundant after join
    "datadate",     # Likely redundant with CRSP's date
    "indfmt",       # Standard industrial format, usually constant
    "consol",       # Consolidation level, usually constant
    "popsrc",       # Population source, usually constant
    "datafmt",      # Data format, usually constant
    "tic",          # Ticker, already in CRSP
    "cusip",        # CUSIP, already in CRSP
    "exchg",        # Exchange code, CRSP has this information
    "prccq",        # Price data, if using CRSP's pricing information
    "cshoq",        # Shares outstanding, if using CRSP's SHROUT
    "ajexq",        # Adjustment factor, if using CRSP's adjustment factors
    "sic",          # SIC code, already in CRSP
    "naics",        # If using CRSP's SIC code instead
]
crsp_and_comp_df = crsp_and_comp_df.drop(columns=columns_to_drop)
new_cols = len(crsp_and_comp_df.columns)
print("Number of columns removed: ", og_cols - new_cols)
print("Number of columns kept:", new_cols)

## Null Analysis Part 2

In [14]:
null_table = crsp_and_comp_df.isnull().sum().reset_index()
null_table.columns = ["Column", "Null Values"]

# Add column to show the percentage of null values
null_table["Percentage"] = (null_table["Null Values"] / len(crsp_and_comp_df)) * 100

# Sorting the table by the number of null values in descending order
null_table_sorted = null_table.sort_values(by="Null Values", ascending=False).reset_index(drop=True)
null_table_sorted

       Column  Null Values  Percentage
0     optvolq       661513   79.835697
1       spidy       658376   79.457104
2       spidq       658123   79.426570
3      optdry       657919   79.401950
4    seteps12       656063   79.177956
..        ...          ...         ...
352     hexcd            0    0.000000
353    permco            0    0.000000
354    permno            0    0.000000
355    shrout            0    0.000000
356     cusip            0    0.000000

[357 rows x 3 columns]

# Review unique values and distribution in each remaining column

In [15]:
for column in crsp_and_comp_df.columns:
    print("-" * 10, column, "-" * 10)
    print(crsp_and_comp_df[column].nunique())
    print(crsp_and_comp_df[column].value_counts())

---------- cusip ----------
721
cusip
88160R10    1509
68389X10    1509
59491810    1509
74144T10    1509
12503M10    1509
            ...
56584910      55
82880610      45
66877110      33
72348410      26
88320310      22
Name: count, Length: 721, dtype: int64
---------- permno ----------
568
permno
93436    1509
10104    1509
10107    1509
10138    1509
10145    1509
         ...
89454     250
23570     249
77668     245
25778     213
89757     205
Name: count, Length: 568, dtype: int64
---------- permco ----------
560
permco
54311    6036
45483    3018
54433    3018
56166    3018
56662    2412
         ...
43333     250
59446     249
11569     245
5220      213
44118     205
Name: count, Length: 560, dtype: int64
---------- issuno ----------
291
issuno
0        416385
15722      1509
14903      1509
14913      1509
14981      1509
          ...
38168       250
88473       249
15686       245
24435       213
40191       205
Name: count, Length: 291, dtype: int64
---------- hexcd ----------
3
hexcd
1    525033
3    302051
5      1509
Name: count, dtype: int64
---------- hsiccd ----------
218
hsiccd
9999    56194
6798    31668
4911    22635
7372    22310
2834    18024
        ...
6799      826
5963      769
2711      608
2890      476
8093      245
Name: count, Length: 218, dtype: int64
---------- date ----------
1509
date
2020-12-14    554
2020-12-11    554
2020-12-10    554
2020-12-09    554
2020-12-15    554
             ...
2018-01-26    539
2018-01-30    539
2018-01-31    539
2018-01-04    539
2018-01-03    539
Name: count, Length: 1509, dtype: int64
---------- bidlo ----------
137123
bidlo
85.00000     95
68.00000     94
75.50000     94
56.00000     94
50.00000     88
             ..
837.29999     1
885.00000     1
878.00000     1
903.45001     1
717.53003     1
Name: count, Length: 137123, dtype: int64
---------- askhi ----------
137359
askhi
80.00000     106
45.00000     104
75.00000     104
58.00000     100
95.00000     100
            ...
939.40002      1
928.96997      1
919.50000      1
901.08002      1
877.20001      1
Name: count, Length: 137359, dtype: int64
---------- prc ----------
73087
prc
54.00000     94
55.00000     93
60.00000     91
57.00000     91
57.70000     88
             ..
982.38000     1
973.94000     1
977.42999     1
983.13000     1
960.13000     1
Name: count, Length: 73087, dtype: int64
---------- vol ----------
772247
vol
982869.0     6
924272.0     5
1438616.0    5
754610.0     5
1397960.0    5
            ..
2671992.0    1
2948405.0    1
2045113.0    1
1875518.0    1
1682562.0    1
Name: count, Length: 772247, dtype: int64
---------- ret ----------
118202
ret
 0.000000    3854
 0.016949      51
 0.012048      49
 0.008696      48
-0.014286      48
             ...
 0.057850       1
-0.040372       1
 0.035874       1
-0.045948       1
-0.068101       1
Name: count, Length: 118202, dtype: int64
---------- bid ----------
71490
bid
36.50000     88
46.72000     87
52.74000     86
36.18000     85
52.99000     84
             ..
710.58002     1
721.51001     1
742.28003     1
815.12000     1
816.78998     1
Name: count, Length: 71490, dtype: int64
---------- ask ----------
71550
ask
52.75000     87
36.30000     85
37.00000     84
57.00000     84
68.00000     83
             ..
728.01001     1
769.67999     1
724.37000     1
761.96002     1
709.96997     1
Name: count, Length: 71550, dtype: int64
---------- shrout ----------
19114
shrout
921056.0    1509
727010.0    1334
199630.0    1007
315435.0     986
147000.0     601
            ...
247400.0       1
17292.0        1
861128.0       1
348800.0       1
119408.0       1
Name: count, Length: 19114, dtype: int64
---------- cfacpr ----------
58
cfacpr
1.000000     763380
4.000000       6826
2.000000       6597
3.000000       6220
1.500000       4036
20.000000      3398
5.000000       1819
10.000000      1747
1.063571       1446
1.132747       1446
1.041209       1395
1.038051       1395
1.170218       1384
1.176335       1383
0.040000       1303
1.272033       1104
1.305385       1076
1.023238       1070
1.020566       1047
1.412272       1029
1.029941        975
1.043657        968
1.056327        944
1.294091        902
0.160903        901
1.187791        880
1.050061        860
1.378496        809
1.418109        809
1.056256        725
1.161043        698
1.486526        680
1.053195        678
1.053984        678
15.000000       670
1.033700        628
1.003412        623
1.444872        597
1.404235        597
1.812738        567
2.250000        551
1.287844        543
1.003097        478
1.129427        440
1.287227        359
1.065576        349
0.504595        313
1.149013        292
1.277329        277
1.900431        219
1.041891        188
1.266029         88
1.506917         82
0.333333         42
1.250000         40
1.030505         20
1.023097         11
1.021755         11
Name: count, dtype: int64
---------- cfacshr ----------
15
cfacshr
1.000000     793502
4.000000       6826
2.000000       6597
3.000000       6220
1.500000       4036
20.000000      3398
5.000000       1819
10.000000      1747
0.040000       1303
0.125000        901
15.000000       670
1.033700        628
2.250000        551
0.333333        355
1.250000         40
Name: count, dtype: int64
---------- openprc ----------
78788
openprc
80.00000      253
90.00000      250
100.00000     218
75.00000      214
60.00000      214
             ...
1919.81006      1
1886.64001      1
197.76100       1
188.31500       1
1817.58997      1
Name: count, Length: 78788, dtype: int64
---------- numtrd ----------
95665
numtrd
13760.0     23
11574.0     22
16114.0     22
11121.0     22
12412.0     21
            ..
102680.0     1
142117.0     1
219951.0     1
141752.0     1
139178.0     1
Name: count, Length: 95665, dtype: int64
---------- retx ----------
118265
retx
 0.000000    3849
 0.016949      50
 0.008696      49
-0.014286      49
 0.012048      48
             ...
 0.061655       1
 0.052852       1
-0.050080       1
-0.071668       1
 0.073934       1
Name: count, Length: 118265, dtype: int64
---------- gvkey ----------
560
gvkey
4016.0      1489
2435.0      1489
20779.0     1489
31587.0     1489
29150.0     1489
            ...
212340.0     193
205692.0     189
6307.0       185
25356.0      184
3310.0       152
Name: count, Length: 560, dtype: int64
---------- datadate ----------
71
datadate
2020-09-30    30310
2021-09-30    30275
2021-06-30    30231
2020-06-30    30215
2022-06-30    30184
              ...
2019-11-30     1342
2020-11-30     1342
2022-11-30     1320
2018-11-30     1298
2023-11-30      462
Name: count, Length: 71, dtype: int64
---------- fyearq ----------
8
fyearq
2021.0    137343
2020.0    136980
2022.0    135933
2019.0    135803
2018.0    129110
2023.0    103568
2017.0      4278
2024.0      1764
Name: count, dtype: int64
---------- fqtr ----------
4
fqtr
2.0    204037
3.0    203951
1.0    201720
4.0    175007
Name: count, dtype: int64
---------- fyr ----------
12
fyr
12.0    592924
1.0      36703
9.0      36165
6.0      32543
3.0      19888
10.0     17868
5.0      13230
7.0       8903
8.0       8820
4.0       7445
11.0      5880
2.0       4410
Name: count, dtype: int64
---------- indfmt ----------
1
indfmt
INDL    784779
Name: count, dtype: int64
---------- consol ----------
1
consol
C    784779
Name: count, dtype: int64
---------- popsrc ----------
1
popsrc
D    784779
Name: count, dtype: int64
---------- datafmt ----------
1
datafmt
STD    784779
Name: count, dtype: int64
---------- tic ----------
560
tic
DG        1489
BF.B      1489
CSCO      1489
DLTR      1489
URBN      1489
          ...
SHPG       193
GOLD.3     189
SHLDQ      185
ESRX       184
CA.1       152
Name: count, Length: 560, dtype: int64
---------- cusip.1 ----------
709
cusip.1
872540109.0    1489
17275R102      1489
461202103.0    1489
703395103.0    1489
437076102.0    1489
               ...
053484101        56
828806109        45
816851109        39
855244109        39
577081102        20
Name: count, Length: 709, dtype: int64
---------- conm ----------
560
conm
DOLLAR GENERAL CORP           1489
BROWN FORMAN CORP             1489
CISCO SYSTEMS INC             1489
DOLLAR TREE INC               1489
URBAN OUTFITTERS INC          1489
                              ...
SHIRE PLC                      193
RANDGOLD RESOURCES LTD         189
SEARS HOLDINGS CORP            185
EXPRESS SCRIPTS HOLDING CO     184
CA INC                         152
Name: count, Length: 560, dtype: int64
---------- acctstdq ----------
3
acctstdq
DS    723397
DU     53548
DI      7794
Name: count, dtype: int64
---------- ajexq ----------
21
ajexq
1.000000     746566
4.000000       8040
3.000000       7535
2.000000       7115
10.000000      2244
20.000000      2204
1.500000       2141
5.000000       1764
0.040000       1259
0.125000        882
40.000000       881
1.273766        875
1.500000        694
15.000000       630
1.500000        505
3.000000        503
0.333333        314
2.250000        314
2.250000        189
2.158400         63
1.250000         61
Name: count, dtype: int64
---------- ajpq ----------
21
ajpq
1.000000     747006
4.000000       8040
3.000000       7472
2.000000       6108
1.500000       2646
10.000000      2244
20.000000      2204
5.000000       1764
0.040000       1259
0.125000        882
40.000000       881
1.273766        875
1.500000        694
15.000000       630
1.125000        630
3.000000        503
0.333333        314
2.250000        314
2.250000        189
2.158400         63
1.250000         61
Name: count, dtype: int64
---------- curcdq ----------
1
curcdq
USD    784779
Name: count, dtype: int64
---------- curncdq ----------
3
curncdq
USD    774082
CNY      5711
EUR      4344
Name: count, dtype: int64
---------- currtrq ----------
55
currtrq
1.000000    774082
0.137888       256
0.140563       256
0.155178       256
0.149264       256
0.154867       256
0.152607       252
0.137048       252
0.145574       248
0.157421       248
0.145395       248
0.145588       248
0.157729       248
0.144987       244
0.151071       235
0.139905       192
1.125432       192
1.185697       192
1.159069       192
1.174249       192
1.090426       192
1.232000       192
0.159424       192
0.141560       192
1.091753       192
1.045337       192
0.147262       192
0.980553       192
1.173724       189
0.148999       189
0.145620       189
1.137996       189
0.141203       189
1.058369       189
1.166770       189
1.122382       189
1.098853       189
0.143616       186
1.144898       186
1.086414       186
1.122183       186
1.161917       186
1.137326       186
1.110876       186
1.205386       183
1.068742       183
0.152166       183
0.139905        64
0.141541        64
0.147284        64
0.141227        63
0.145666        63
0.149005        63
0.143641        62
0.153257        61
Name: count, dtype: int64
---------- datacqtr ----------
25
datacqtr
2020Q2    34743
2021Q2    34711
2023Q2    34681
2022Q2    34664
2021Q3    34637
2020Q3    34624
2019Q3    34527
2022Q3    34442
2021Q1    34327
2020Q1    34189
2018Q1    34176
2019Q2    34169
2019Q1    33939
2018Q2    33879
2022Q1    33688
2021Q4    33681
2023Q1    33586
2019Q4    33458
2020Q4    33232
2018Q3    33163
2022Q4    33026
2023Q3    33001
2018Q4    32998
2017Q4     2776
2023Q4      462
Name: count, dtype: int64
---------- datafqtr ----------
27
datafqtr
2021Q3    34668
2020Q3    34639
2021Q2    34589
2020Q2    34586
2022Q2    34493
2019Q3    34408
2022Q3    34389
2021Q1    34245
2020Q1    34161
2019Q2    33998
2023Q2    33995
2021Q4    33841
2022Q1    33796
2019Q1    33792
2023Q1    33614
2019Q4    33605
2020Q4    33468
2018Q3    33283
2022Q4    33255
2018Q4    33165
2018Q2    32314
2023Q3    31683
2018Q1    30284
2023Q4     4276
2017Q4     3397
2024Q1     1764
2017Q3      881
Name: count, dtype: int64
---------- finalq ----------
1
finalq
Y    784654
Name: count, dtype: int64
---------- rp ----------
2
rp
Q     783521
SA      1258
Name: count, dtype: int64
---------- scfq ----------
1
scfq
7.0    781602
Name: count, dtype: int64
---------- srcq ----------
9
srcq
5.0     720973
53.0     59000
8.0       2361
88.0      1505
3.0        443
20.0       254
21.0       126
37.0        77
99.0        40
Name: count, dtype: int64
---------- updq ----------
2
updq
3.0    784591
2.0       188
Name: count, dtype: int64
---------- apdedateq ----------
430
apdedateq
2018-03-31    27648
2022-12-31    27632
2023-09-30    27520
2018-06-30    27199
2023-06-30    26953
              ...
2018-11-17       59
2018-11-29       59
2023-11-04       42
2023-12-01       21
2023-11-18       21
Name: count, Length: 430, dtype: int64
---------- fdateq ----------
1620
fdateq
2020-05-11    4977
2021-11-08    4864
2022-08-08    4800
2022-08-01    4416
2020-08-03    4224
              ...
2024-01-26      21
2024-01-17      21
2024-01-04      21
2020-12-14      15
2019-09-24       7
Name: count, Length: 1620, dtype: int64
---------- pdateq ----------
1160
pdateq
2020-10-29    4096
2019-04-25    4032
2023-04-27    3906
2020-07-30    3904
2018-04-26    3776
              ...
2024-01-05      21
2024-01-25      21
2023-12-19      21
2019-03-19       9
2019-09-03       2
Name: count, Length: 1160, dtype: int64
---------- rdq ----------
1168
rdq
2020-10-29    4864
2023-04-27    4588
2018-10-25    4402
2023-07-27    4352
2018-04-26    4288
              ...
2024-01-05      21
2023-12-15      21
2019-05-31      20
2019-08-23       7
2019-04-08       7
Name: count, Length: 1168, dtype: int64
---------- acchgq ----------
1
acchgq
0.0    782133
Name: count, dtype: int64
---------- acomincq ----------
8780
acomincq
 0.000       22143
-1.000        1512
-5.000        1500
-2.000        1389
-3.000        1131
             ...
-2576.000       20
-0.922          15
-0.135           7
-0.009           7
 3.403           1
Name: count, Length: 8780, dtype: int64
---------- acoq ----------
7591
acoq
0.000      76651
216.000      814
180.000      757
138.000      752
335.000      747
           ...
155.900       21
27.317        15
36.505         7
20.744         7
23.349         1
Name: count, Length: 7591, dtype: int64
---------- actq ----------
10012
actq
2817.000    254
3829.000    254
1590.000    253
3969.000    253
3799.000    252
           ...
0.172         8
145.934       7
276.719       7
581.600       2
418.795       1
Name: count, Length: 10012, dtype: int64
---------- altoq ----------
9264
altoq
170.000    508
211.000    505
367.000    505
369.000    444
549.000    443
          ...
14.401      15
0.211        8
40.571       7
33.724       7
84.805       1
Name: count, Length: 9264, dtype: int64
---------- ancq ----------
9618
ancq
6690.000     252
12254.000    251
15289.000    191
3513.000     191
9547.000     191
            ...
0.211          8
115.825        7
77.846         7
282.900        2
201.178        1
Name: count, Length: 9618, dtype: int64
---------- anoq ----------
1157
anoq
 0.0       562408
 9.0          508
 16.0         505
 10.0         439
-8.0          379
            ...
-6747.0        61
-142.0         61
-418.0         61
 9202.3        61
 25.0          42
Name: count, Length: 1157, dtype: int64
---------- aociderglq ----------
3530
aociderglq
 0.000      241264
-2.000        8356
-1.000        6946
 1.000        6342
 2.000        4926
             ...
 357.000        21
 104.963        21
 111.075        21
-12.025         21
 5.336          21
Name: count, Length: 3530, dtype: int64
---------- aociotherq ----------
1156
aociotherq
 0.000      604503
-1.000        6102
 2.000        3841
-4.000        3399
-2.000        3294
             ...
-331.000        42
 6.847          42
 9.300          21
-1.556          21
-202.000         9
Name: count, Length: 1156, dtype: int64
---------- aocipenq ----------
4428
aocipenq
 0.000       244345
-1.000         4696
-4.000         3455
-2.000         3029
-3.000         2172
              ...
 24.300          21
-44.296          21
-190.111         21
-1555.900        21
-642.000         21
Name: count, Length: 4428, dtype: int64
---------- aocisecglq ----------
3
aocisecglq
 0.0     748430
-1.0         64
 29.6        64
Name: count, dtype: int64
---------- aol2q ----------
6492
aol2q
0.000       71858
1.000        3895
3.000        2719
8.000        2511
2.000        2401
            ...
753.000        21
2826.000       20
1055.498       15
515.000        15
115.121         7
Name: count, Length: 6492, dtype: int64
---------- aoq ----------
12010
aoq
3063.000     192
2948.000     192
2846.000     192
18730.000    192
2196.000     191
            ...
0.211          8
42.292         7
40.571         7
33.100         2
138.159        1
Name: count, Length: 12010, dtype: int64
---------- apq ----------
10042
apq
0.000      2535
271.000     569
253.000     502
224.000     499
711.000     444
           ...
24.356       15
23.529        7
4.963         7
92.200        2
23.713        1
Name: count, Length: 10042, dtype: int64
---------- aqaq ----------
1891
aqaq
 0.000      21345
-1.300       4401
-0.650       4275
-1.950       3809
-1.000       3662
            ...
-10.512        31
-59.930        30
-11.519        30
-9.600         21
-105.950       21
Name: count, Length: 1891, dtype: int64
---------- aqdq ----------
158
aqdq
 0.00    67379
-0.01    48316
-0.02    28361
-0.03    18709
-0.04    12663
         ...
 1.88       61
-0.79       61
-2.85       61
 0.70       61
 0.87       61
Name: count, Length: 158, dtype: int64
---------- aqepsq ----------
150
aqepsq
 0.00    65614
-0.01    46422
-0.02    27858
-0.03    18099
-0.04    12587
         ...
 0.75       61
 1.88       61
 0.25       61
-0.79       61
 0.88       61
Name: count, Length: 150, dtype: int64
---------- aqpl1q ----------
6322
aqpl1q
0.000      123807
2.000        1913
15.000       1641
21.000       1449
6.000        1383
            ...
110.215        21
85.556         21
0.078           7
224.300         2
122.663         1
Name: count, Length: 6322, dtype: int64
---------- aqpq ----------
1977
aqpq
 0.000      26104
-1.000       9186
-2.000       8590
-3.000       7229
-4.000       5135
            ...
-12.978        31
-92.200        30
-17.722        30
-163.000       21
-12.800        21
Name: count, Length: 1977, dtype: int64
---------- atq ----------
12297
atq
18064.000    190
12252.000    188
21695.000    188
14870.000    187
33471.000    186
            ...
0.383          8
261.759        7
354.565        7
864.500        2
619.973        1
Name: count, Length: 12297, dtype: int64
---------- aul3q ----------
1667
aul3q
0.000       457561
1.000         3835
2.000         2883
4.000         2226
8.000         1891
             ...
158.000         42
3.791           42
1019.000        42
2367.000        35
54.852          21
Name: count, Length: 1667, dtype: int64
---------- billexceq ----------
2899
billexceq
9.000       879
10.000      755
0.000       750
12.000      697
11.000      501
           ...
4459.593     21
2033.000     20
101.818       7
115.122       7
270.188       1
Name: count, Length: 2899, dtype: int64
---------- capsq ----------
10596
capsq
0.000        59948
12753.000     1321
654.600        821
41.100         690
32.000         439
             ...
0.020            8
17.760           7
41.132           7
90.700           2
160.265          1
Name: count, Length: 10596, dtype: int64
---------- ceqq ----------
12011
ceqq
 12659.000    253
 3542.000     253
 3446.000     252
 7758.000     251
 18952.000    250
             ...
 0.024          8
-7.439          7
-79.223         7
-538.600        2
-338.648        1
Name: count, Length: 12011, dtype: int64
---------- cheq ----------
10779
cheq
742.000     443
68.000      440
334.000     437
1574.000    380
99.000      378
           ...
0.172         8
55.487        7
176.601       7
378.100       2
257.436       1
Name: count, Length: 10779, dtype: int64
---------- chq ----------
10016
chq
168.000    560
377.000    442
858.000    441
68.000     439

In [ ]:
company_counts = df['gvkey'].value_counts()
company_counts