In [8]:
import os

import numpy as np
import pandas as pd
import yfinance as yf

from src.ray.utils.file_utilities import s3_download, s3_upload

In [2]:
index = "Index/security_master.csv"
index_path = s3_download(index)

In [4]:
index_df = pd.read_csv(index_path)
index_df

,cusip,PERMNO,PERMCO,HSHRCD,DLSTCD,HTICK,HCOMNAM,HTSYMBOL,HNAICS,HPRIMEXC,...,NUMDEL,NUMNDI,BEGDAT,ENDDAT,BEGPRC,ENDPRC,BEGRET,ENDRET,BEGVOL,ENDVOL
0,00130H10,76712,10996,11,100,AES,A E S CORP,AES,221118,N,...,1,68,06/26/1991,12/29/2023,06/26/1991,12/29/2023,06/26/1991,12/29/2023,06/26/1991,12/29/2023
1,00206R10,66093,21645,11,100,T,A T & T INC,T,517312,N,...,1,0,02/16/1984,12/29/2023,02/16/1984,12/29/2023,02/16/1984,12/29/2023,02/16/1984,12/29/2023
2,00507V10,79678,12499,11,233,NaN,ACTIVISION BLIZZARD INC,ATVI,513210,Q,...,1,1968,10/22/1993,10/12/2023,10/22/1993,10/12/2023,10/22/1993,10/12/2023,10/22/1993,10/12/2023
3,00724F10,75510,8476,11,100,ADBE,ADOBE INC,ADBE,511210,Q,...,1,2185,08/13/1986,12/29/2023,08/13/1986,12/29/2023,08/13/1986,12/29/2023,08/13/1986,12/29/2023
4,00971T10,87299,17300,11,100,AKAM,AKAMAI TECHNOLOGIES INC,AKAM,511210,Q,...,1,1722,10/29/1999,12/29/2023,10/29/1999,12/29/2023,10/29/1999,12/29/2023,10/29/1999,12/29/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,3042010,92614,52985,11,100,AWK,AMERICAN WATER WORKS CO INC,AWK,221310,N,...,1,0,04/23/2008,12/29/2023,04/23/2008,12/29/2023,04/23/2008,12/29/2023,04/23/2008,12/29/2023
590,25667710,93096,53264,11,100,DG,DOLLAR GENERAL CORP NEW,DG,452319,N,...,1,0,11/13/2009,12/29/2023,11/13/2009,12/29/2023,11/13/2009,12/29/2023,11/13/2009,12/29/2023
591,3.50E+14,93132,53286,11,100,FTNT,FORTINET INC,FTNT,334118,Q,...,1,526,11/18/2009,12/29/2023,11/18/2009,12/29/2023,11/18/2009,12/29/2023,11/18/2009,12/29/2023
592,36873610,93246,53339,11,100,GNRC,GENERAC HOLDINGS INC,GNRC,335312,N,...,1,0,02/11/2010,12/29/2023,02/11/2010,12/29/2023,02/11/2010,12/29/2023,02/11/2010,12/29/2023
593,12503M10,93429,53447,11,100,CBOE,C B O E GLOBAL MARKETS INC,CBOE,518210,B,...,1,292,06/15/2010,12/29/2023,06/15/2010,12/29/2023,06/15/2010,12/29/2023,06/15/2010,12/29/2023

In [9]:
symbols = index_df["HTSYMBOL"].tolist()
index_data = yf.download(tickers=" ".join(symbols), start="2018-01-02", end="2024-05-31")

[                       1%%                      ]  5 of 593 completed

$CEPH: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)
$SNDK: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********            20%%                      ]  116 of 593 completed

$SPLS: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[*************         27%%                      ]  161 of 593 completed

$KRFT: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)
$SIAL: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)
$GMCR: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[*****************     35%%                      ]  208 of 593 completed

$BRCM: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[********************  41%%                      ]  244 of 593 completed

$STRZA: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************46%%                      ]  271 of 593 completed

$WCRX: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************47%%                      ]  281 of 593 completed

$HCN: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)
$CNW: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************51%%                      ]  305 of 593 completed

$BNI: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************57%%*                     ]  337 of 593 completed

$VMED: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************60%%***                   ]  357 of 593 completed

$FWLT: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************64%%*****                 ]  380 of 593 completed

$GENZ: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************69%%*******               ]  412 of 593 completed

$CMCSK: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************84%%**************        ]  501 of 593 completed

$WFM: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************88%%****************      ]  522 of 593 completed

$CTRX: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************97%%********************* ]  574 of 593 completed

$JOY: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[**********************99%%**********************]  585 of 593 completed

$LLTC: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)

[*********************100%%**********************]  593 of 593 completed

44 Failed downloads:
['TFCF', 'CDAY', 'VIAB', 'GLIBA', 'DTV', 'CELG', 'PEAK', 'CTXS', 'SGEN', 'ATVI', 'NIHD', 'NUAN', 'TFCFA', 'FLT', 'FLIR', 'BFB', 'DISH', 'KSU', 'BRKB', 'CERN', 'MXIM', 'SPLK', 'XLNX']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
['CEPH', 'SNDK', 'SPLS', 'KRFT', 'SIAL', 'GMCR', 'BRCM', 'STRZA', 'WCRX', 'HCN', 'CNW', 'BNI', 'VMED', 'FWLT', 'GENZ', 'CMCSK', 'WFM', 'CTRX', 'JOY', 'LLTC']: YFPricesMissingError('$%ticker%: possibly delisted; No price data found  (1d 2018-01-02 -> 2024-05-31)')
['ENDP']: YFInvalidPeriodError("%ticker%: Period 'max' is invalid, must be one of ['1d', '5d']")

In [14]:
# Create a list of symbols
# Create data frame
index = pd.DataFrame(index_data["Adj Close"])
# index = index.rename(columns={"Adj Close": "Index"})
index
# index.index

Ticker,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZM,ZS,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,64.520744,51.647560,40.615891,73.593399,52.571003,29.433332,139.834579,177.699997,79.776634,33.472790,...,62.133793,62.815163,62.936832,72.576645,114.772163,103.709999,41.291496,NaN,NaN,68.611488
2018-01-03,66.162415,51.014027,40.608810,74.745041,52.687260,29.459999,140.479965,181.039993,80.766319,33.213963,...,63.354095,62.599979,63.704224,72.514389,115.567795,105.769997,41.242630,NaN,NaN,68.926979
2018-01-04,65.666092,51.335659,40.797443,74.318779,52.597832,29.570000,142.143356,183.220001,80.677956,33.773373,...,63.441780,62.590626,64.129555,73.252602,115.401230,107.860001,41.413662,NaN,NaN,69.338066
2018-01-05,66.715981,51.316174,41.261932,75.612495,52.749840,29.453333,143.315887,185.339996,81.004913,33.547947,...,63.390625,63.470047,64.009346,73.679527,116.548401,109.540001,41.429943,NaN,NaN,70.131516
2018-01-08,66.859138,50.809345,41.108669,74.401039,52.597832,29.456667,144.461166,185.039993,81.146294,33.472790,...,63.675617,63.900406,64.240517,73.804016,116.770424,110.629997,41.226337,NaN,NaN,70.972794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-23,150.550003,13.820000,186.880005,158.259995,104.230003,101.930000,305.929993,483.309998,233.630692,60.720001,...,113.510002,27.520000,143.344940,136.339996,115.849998,324.059998,42.560001,62.419998,171.910004,170.899994
2024-05-24,150.660004,13.840000,189.979996,157.059998,103.949997,103.360001,300.989990,475.429993,231.588806,60.490002,...,113.419998,27.459999,143.873550,137.649994,116.410004,327.000000,43.090000,63.009998,171.639999,170.070007
2024-05-28,148.210007,13.440000,189.990005,155.339996,101.949997,102.250000,297.730011,478.429993,232.515137,60.889999,...,114.860001,27.639999,139.993713,135.860001,116.330002,326.239990,42.520000,62.060001,164.160004,171.300003
2024-05-29,145.479996,11.620000,190.289993,154.789993,100.730003,101.550003,293.769989,477.600006,227.246078,60.029999,...,113.629997,27.120001,137.589996,134.669998,115.139999,316.929993,41.689999,61.360001,164.369995,170.800003
2024-05-30,131.419998,11.440000,191.289993,156.309998,101.739998,101.410004,284.799988,445.869995,229.088760,60.139999,...,113.989998,27.750000,139.399994,134.839996,114.440002,316.619995,42.259998,60.529999,156.649994,169.440002

In [19]:
date_cutoff = pd.Timestamp("2023-12-30")

test_df = index.pct_change()[date_cutoff:]
test_df

/tmp/ipykernel_281106/217778668.py:3: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  test_df = index.pct_change()[date_cutoff:]

Ticker,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZM,ZS,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-01-02,-0.002014,-0.021834,-0.035787,0.031297,-0.001999,0.017235,-0.011371,-0.027707,-0.025081,0.007477,...,0.023805,0.001124,-0.006034,-0.012475,-0.002547,-0.019573,0.006155,-0.038381,-0.041479,-0.004053
2024-01-03,-0.054703,-0.036458,-0.007488,0.004004,-0.003004,0.018398,-0.025943,-0.014274,-0.023866,0.005085,...,0.008402,-0.022734,-0.018563,0.000543,-0.007579,-0.057691,-0.048482,-0.028633,-0.010030,-0.018518
2024-01-04,-0.001220,0.010811,-0.012700,0.006232,0.013331,0.006888,-0.002456,-0.008290,-0.015294,-0.018871,...,-0.008719,0.024698,0.006902,-0.003176,-0.002241,0.001782,0.015238,-0.004020,0.000428,0.005753
2024-01-05,-0.003359,0.038961,-0.004013,0.004212,-0.001622,-0.008519,-0.001394,-0.004321,0.002580,-0.013101,...,0.003030,-0.008408,-0.001602,-0.002720,-0.001830,-0.001107,0.033067,0.000897,-0.002472,0.004174
2024-01-08,0.021599,0.072059,0.024175,-0.004379,0.014440,0.004036,0.011081,0.028250,0.013026,0.003531,...,-0.016662,0.014698,0.006242,0.002338,0.016586,0.033242,0.011124,0.021356,0.039512,0.006672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-23,-0.015176,-0.019858,-0.021058,-0.008458,-0.005629,-0.007498,-0.003842,-0.001281,-0.023318,-0.019063,...,-0.017059,-0.018895,-0.010193,-0.015238,-0.029163,-0.008930,-0.028089,-0.030444,-0.012919,-0.006684
2024-05-24,0.000731,0.001447,0.016588,-0.007582,-0.002686,0.014029,-0.016147,-0.016304,-0.008740,-0.003788,...,-0.000793,-0.002180,0.003688,0.009608,0.004834,0.009072,0.012453,0.009452,-0.001571,-0.004857
2024-05-28,-0.016262,-0.028902,0.000053,-0.010951,-0.019240,-0.010739,-0.010831,0.006310,0.004000,0.006613,...,0.012696,0.006555,-0.026967,-0.013004,-0.000687,-0.002324,-0.013228,-0.015077,-0.043580,0.007232
2024-05-29,-0.018420,-0.135417,0.001579,-0.003541,-0.011967,-0.006846,-0.013301,-0.001735,-0.022661,-0.014124,...,-0.010709,-0.018813,-0.017170,-0.008759,-0.010230,-0.028537,-0.019520,-0.011279,0.001279,-0.002919
2024-05-30,-0.096646,-0.015491,0.005255,0.009820,0.010027,-0.001379,-0.030534,-0.066436,0.008109,0.001832,...,0.003168,0.023230,0.013155,0.001262,-0.006080,-0.000978,0.013672,-0.013527,-0.046967,-0.007963