# Download Data from WRDS

In [1]:
!pip install wrds

Collecting wrds
  Using cached wrds-3.2.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: numpy<1.27,>=1.26 in /opt/conda/lib/python3.10/site-packages (from wrds) (1.26.4)
Requirement already satisfied: packaging<23.3 in /opt/conda/lib/python3.10/site-packages (from wrds) (23.2)
Collecting pandas<2.3,>=2.2 (from wrds)
  Using cached pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting psycopg2-binary<2.10,>=2.9 (from wrds)
  Using cached psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Collecting scipy<1.13,>=1.12 (from wrds)
  Using cached scipy-1.12.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Collecting sqlalchemy<2.1,>=2 (from wrds)
  Using cached SQLAlchemy-2.0.31-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas<2.3,>=2.2->wrds) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<2.3,>=2.2->wrds) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas<2.3,>=2.2->wrds) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy<2.1,>=2->wrds) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy<2.1,>=2->wrds) (3.0.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas<2.3,>=2.2->wrds) (1.16.0)
Using cached wrds-3.2.0-py3-none-any.whl (13 kB)
Using cached pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
Using cached psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
Using cached scipy-1.12.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.4 MB)
Using cached SQLAlchemy-2.0.31-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
Installing collected packages: sqlalchemy, scipy, psycopg2-binary, pandas, wrds
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.49
    Uninstalling SQLAlchemy-1.4.49:
      Successfully uninstalled SQLAlchemy-1.4.49
  Attempting uninstall: scipy
    Found existing installation: SciPy 1.11.4
    Uninstalling SciPy-1.11.4:
      Successfully uninstalled SciPy-1.11.4
  Attempting uninstall: pandas
    Found existing installation: pandas 2.1.4
    Uninstalling pandas-2.1.4:
      Successfully uninstalled pandas-2.1.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
autogluon-common 0.8.3 requires pandas<1.6,>=1.4.1, but you have pandas 2.2.2 which is incompatible.
autogluon-core 0.8.3 requires pandas<1.6,>=1.4.1, but you have pandas 2.2.2 which is incompatible.
autogluon-core 0.8.3 requires scikit-learn<1.4.1,>=1.1, but you have scikit-learn 1.4.2 which is incompatible.
autogluon-core 0.8.3 requires scipy<1.12,>=1.5.4, but you have scipy 1.12.0 which is incompatible.
autogluon-features 0.8.3 requires pandas<1.6,>=1.4.1, but you have pandas 2.2.2 which is incompatible.
autogluon-features 0.8.3 requires scikit-learn<1.4.1,>=1.1, but you have scikit-learn 1.4.2 which is incompatible.
autogluon-multimodal 0.8.3 requires pandas<1.6,>=1.4.1, but you have pandas 2.2.2 which is incompatible.
autogluon-multimodal 0.8.3 requires pytorch-lightning<1.10.0,>=1.9.0, but you have pytorch-lightning 2.0.9 which is incompatible.
autogluon-multimodal 0.8.3 requires scikit-learn<1.4.1,>=1.1, but you have scikit-learn 1.4.2 which is incompatible.
autogluon-multimodal 0.8.3 requires scipy<1.12,>=1.5.4, but you have scipy 1.12.0 which is incompatible.
autogluon-multimodal 0.8.3 requires torch<1.14,>=1.9, but you have torch 2.0.0.post104 which is incompatible.
autogluon-multimodal 0.8.3 requires torchmetrics<0.12.0,>=0.11.0, but you have torchmetrics 1.0.3 which is incompatible.
autogluon-multimodal 0.8.3 requires torchvision<0.15.0, but you have torchvision 0.15.2a0+ab7b3e6 which is incompatible.
autogluon-tabular 0.8.3 requires pandas<1.6,>=1.4.1, but you have pandas 2.2.2 which is incompatible.
autogluon-tabular 0.8.3 requires scikit-learn<1.4.1,>=1.1, but you have scikit-learn 1.4.2 which is incompatible.
autogluon-tabular 0.8.3 requires scipy<1.12,>=1.5.4, but you have scipy 1.12.0 which is incompatible.
autogluon-timeseries 0.8.3 requires pandas<1.6,>=1.4.1, but you have pandas 2.2.2 which is incompatible.
autogluon-timeseries 0.8.3 requires pytorch-lightning<1.10.0,>=1.7.4, but you have pytorch-lightning 2.0.9 which is incompatible.
autogluon-timeseries 0.8.3 requires scipy<1.12,>=1.5.4, but you have scipy 1.12.0 which is incompatible.
autogluon-timeseries 0.8.3 requires torch<1.14,>=1.9, but you have torch 2.0.0.post104 which is incompatible.
autovizwidget 0.21.0 requires pandas<2.0.0,>=0.20.1, but you have pandas 2.2.2 which is incompatible.
hdijupyterutils 0.21.0 requires pandas<2.0.0,>=0.17.1, but you have pandas 2.2.2 which is incompatible.
jupyter-scheduler 2.5.2 requires sqlalchemy~=1.0, but you have sqlalchemy 2.0.31 which is incompatible.
sparkmagic 0.21.0 requires pandas<2.0.0,>=0.17.1, but you have pandas 2.2.2 which is incompatible.
Successfully installed pandas-2.2.2 psycopg2-binary-2.9.9 scipy-1.12.0 sqlalchemy-1.4.52 wrds-3.2.0

In [2]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /opt/conda/lib/python3.10/site-packages (15.0.0)
Requirement already satisfied: numpy<2,>=1.16.6 in /opt/conda/lib/python3.10/site-packages (from pyarrow) (1.26.4)

In [3]:
import wrds
import pandas as pd
from datetime import datetime

import pyarrow as pa
import pyarrow.parquet as pq

In [4]:
sp500_df = pd.read_csv("/home/sagemaker-user/capstone-2024-summer/data/security_master.csv")

sp500_df.head()

,cusip,PERMNO,PERMCO,HSHRCD,DLSTCD,HTICK,HCOMNAM,HTSYMBOL,HNAICS,HPRIMEXC,...,NUMDEL,NUMNDI,BEGDAT,ENDDAT,BEGPRC,ENDPRC,BEGRET,ENDRET,BEGVOL,ENDVOL
0,00130H10,76712,10996,11,100,AES,A E S CORP,AES,221118,N,...,1,68,06/26/1991,12/29/2023,06/26/1991,12/29/2023,06/26/1991,12/29/2023,06/26/1991,12/29/2023
1,00206R10,66093,21645,11,100,T,A T & T INC,T,517312,N,...,1,0,02/16/1984,12/29/2023,02/16/1984,12/29/2023,02/16/1984,12/29/2023,02/16/1984,12/29/2023
2,00507V10,79678,12499,11,233,NaN,ACTIVISION BLIZZARD INC,ATVI,513210,Q,...,1,1968,10/22/1993,10/12/2023,10/22/1993,10/12/2023,10/22/1993,10/12/2023,10/22/1993,10/12/2023
3,00724F10,75510,8476,11,100,ADBE,ADOBE INC,ADBE,511210,Q,...,1,2185,08/13/1986,12/29/2023,08/13/1986,12/29/2023,08/13/1986,12/29/2023,08/13/1986,12/29/2023
4,00971T10,87299,17300,11,100,AKAM,AKAMAI TECHNOLOGIES INC,AKAM,511210,Q,...,1,1722,10/29/1999,12/29/2023,10/29/1999,12/29/2023,10/29/1999,12/29/2023,10/29/1999,12/29/2023

In [ ]:
sp500_permnos = tuple(sp500_df['PERMNO'].unique())
sp500_permnos.head()

In [5]:
# Connect to WRDS
db = wrds.Connection()

# Set date range
start_date = '2018-01-01'
end_date = '2023-12-31'

sp500_permnos = tuple(sp500_df['PERMNO'].unique())

# Main query
main_query = f"""
SELECT a.*,
       c.*
FROM crsp.dsf a
LEFT JOIN crsp.ccmxpf_linktable b
ON a.permno = b.lpermno
AND b.linktype IN ('LC', 'LU')
AND b.linkprim IN ('P', 'C')
AND a.date BETWEEN b.linkdt AND COALESCE(b.linkenddt, '{end_date}')
LEFT JOIN LATERAL (
    SELECT *
    FROM comp.fundq c2
    WHERE c2.gvkey = b.gvkey
      AND c2.datadate <= a.date
      AND c2.datadate BETWEEN '{start_date}' AND '{end_date}'
    ORDER BY c2.datadate DESC
    LIMIT 1
) c ON TRUE
WHERE a.date BETWEEN '{start_date}' AND '{end_date}'
AND a.permno IN {sp500_permnos}
"""
# Forward fill here?

print("Executing query...")
data = db.raw_sql(main_query)

print("Query executed. Saving to CSV...")

# Save to CSV
data.to_csv('crsp_compustat_merged_2018_2023.csv', index=False)

# Close the connection
db.close()

print("Data extraction and merging complete. File saved as CSV.")

# Print column names for reference
print("\nColumns in the merged dataset:")
print(data.columns.tolist())

Enter your WRDS username [sagemaker-user]: jennasparks
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  n

You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done
Executing query...

/opt/conda/lib/python3.10/site-packages/wrds/sql.py:580: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat([full_df, chunk])

Query executed. Saving to CSV...
Data extraction and merging complete. File saved as CSV.

Columns in the merged dataset:
['cusip', 'permno', 'permco', 'issuno', 'hexcd', 'hsiccd', 'date', 'bidlo', 'askhi', 'prc', 'vol', 'ret', 'bid', 'ask', 'shrout', 'cfacpr', 'cfacshr', 'openprc', 'numtrd', 'retx', 'gvkey', 'datadate', 'fyearq', 'fqtr', 'fyr', 'indfmt', 'consol', 'popsrc', 'datafmt', 'tic', 'cusip', 'conm', 'acctchgq', 'acctstdq', 'adrrq', 'ajexq', 'ajpq', 'bsprq', 'compstq', 'curcdq', 'curncdq', 'currtrq', 'curuscnq', 'datacqtr', 'datafqtr', 'finalq', 'ogmq', 'rp', 'scfq', 'srcq', 'staltq', 'updq', 'apdedateq', 'fdateq', 'pdateq', 'rdq', 'acchgq', 'acomincq', 'acoq', 'actq', 'altoq', 'ancq', 'anoq', 'aociderglq', 'aociotherq', 'aocipenq', 'aocisecglq', 'aol2q', 'aoq', 'apq', 'aqaq', 'aqdq', 'aqepsq', 'aqpl1q', 'aqpq', 'arcedq', 'arceepsq', 'arceq', 'atq', 'aul3q', 'billexceq', 'capr1q', 'capr2q', 'capr3q', 'capsftq', 'capsq', 'ceiexbillq', 'ceqq', 'cheq', 'chq', 'cibegniq', 'cicurrq', 'ciderglq', 'cimiiq', 'ciotherq', 'cipenq', 'ciq', 'cisecglq', 'citotalq', 'cogsq', 'csh12q', 'cshfd12', 'cshfdq', 'cshiq', 'cshopq', 'cshoq', 'cshprq', 'cstkcvq', 'cstkeq', 'cstkq', 'dcomq', 'dd1q', 'deracq', 'deraltq', 'derhedglq', 'derlcq', 'derlltq', 'diladq', 'dilavq', 'dlcq', 'dlttq', 'doq', 'dpacreq', 'dpactq', 'dpq', 'dpretq', 'drcq', 'drltq', 'dteaq', 'dtedq', 'dteepsq', 'dtepq', 'dvintfq', 'dvpq', 'epsf12', 'epsfi12', 'epsfiq', 'epsfxq', 'epspi12', 'epspiq', 'epspxq', 'epsx12', 'esopctq', 'esopnrq', 'esoprq', 'esoptq', 'esubq', 'fcaq', 'ffoq', 'finacoq', 'finaoq', 'finchq', 'findlcq', 'findltq', 'finivstq', 'finlcoq', 'finltoq', 'finnpq', 'finreccq', 'finrecltq', 'finrevq', 'finxintq', 'finxoprq', 'gdwlamq', 'gdwlia12', 'gdwliaq', 'gdwlid12', 'gdwlidq', 'gdwlieps12', 'gdwliepsq', 'gdwlipq', 'gdwlq', 'glaq', 'glcea12', 'glceaq', 'glced12', 'glcedq', 'glceeps12', 'glceepsq', 'glcepq', 'gldq', 'glepsq', 'glivq', 'glpq', 'hedgeglq', 'ibadj12', 'ibadjq', 'ibcomq', 'ibmiiq', 'ibq', 'icaptq', 'intaccq', 'intanoq', 'intanq', 'invfgq', 'invoq', 'invrmq', 'invtq', 'invwipq', 'ivaeqq', 'ivaoq', 'ivltq', 'ivstq', 'lcoq', 'lctq', 'lltq', 'lnoq', 'lol2q', 'loq', 'loxdrq', 'lqpl1q', 'lseq', 'ltmibq', 'ltq', 'lul3q', 'mibnq', 'mibq', 'mibtq', 'miiq', 'msaq', 'ncoq', 'niitq', 'nimq', 'niq', 'nopiq', 'npatq', 'npq', 'nrtxtdq', 'nrtxtepsq', 'nrtxtq', 'obkq', 'oepf12', 'oeps12', 'oepsxq', 'oiadpq', 'oibdpq', 'opepsq', 'optdrq', 'optfvgrq', 'optlifeq', 'optrfrq', 'optvolq', 'piq', 'pllq', 'pnc12', 'pncd12', 'pncdq', 'pnceps12', 'pncepsq', 'pnciapq', 'pnciaq', 'pncidpq', 'pncidq', 'pnciepspq', 'pnciepsq', 'pncippq', 'pncipq', 'pncpd12', 'pncpdq', 'pncpeps12', 'pncpepsq', 'pncpq', 'pncq', 'pncwiapq', 'pncwiaq', 'pncwidpq', 'pncwidq', 'pncwiepq', 'pncwiepsq', 'pncwippq', 'pncwipq', 'pnrshoq', 'ppegtq', 'ppentq', 'prcaq', 'prcd12', 'prcdq', 'prce12', 'prceps12', 'prcepsq', 'prcpd12', 'prcpdq', 'prcpeps12', 'prcpepsq', 'prcpq', 'prcraq', 'prshoq', 'pstknq', 'pstkq', 'pstkrq', 'rcaq', 'rcdq', 'rcepsq', 'rcpq', 'rdipaq', 'rdipdq', 'rdipepsq', 'rdipq', 'recdq', 'rectaq', 'rectoq', 'rectq', 'rectrq', 'recubq', 'req', 'retq', 'reunaq', 'revtq', 'rllq', 'rra12', 'rraq', 'rrd12', 'rrdq', 'rreps12', 'rrepsq', 'rrpq', 'rstcheltq', 'rstcheq', 'saleq', 'seqoq', 'seqq', 'seta12', 'setaq', 'setd12', 'setdq', 'seteps12', 'setepsq', 'setpq', 'spce12', 'spced12', 'spcedpq', 'spcedq', 'spceeps12', 'spceepsp12', 'spceepspq', 'spceepsq', 'spcep12', 'spcepd12', 'spcepq', 'spceq', 'spidq', 'spiepsq', 'spioaq', 'spiopq', 'spiq', 'sretq', 'stkcoq', 'stkcpaq', 'teqq', 'tfvaq', 'tfvceq', 'tfvlq', 'tieq', 'tiiq', 'tstknq', 'tstkq', 'txdbaq', 'txdbcaq', 'txdbclq', 'txdbq', 'txdiq', 'txditcq', 'txpq', 'txtq', 'txwq', 'uacoq', 'uaoq', 'uaptq', 'ucapsq', 'ucconsq', 'uceqq', 'uddq', 'udmbq', 'udoltq', 'udpcoq', 'udvpq', 'ugiq', 'uinvq', 'ulcoq', 'uniamiq', 'unopincq', 'uopiq', 'updvpq', 'upmcstkq', 'upmpfq', 'upmpfsq', 'upmsubpq', 'upstkcq', 'upstkq', 'urectq', 'uspiq', 'usubdvpq', 'usubpcvq', 'utemq', 'wcapq', 'wdaq', 'wddq', 'wdepsq', 'wdpq', 'xaccq', 'xidoq', 'xintq', 'xiq', 'xoprq', 'xopt12', 'xoptd12', 'xoptd12p', 'xoptdq', 'xoptdqp', 'xopteps12', 'xoptepsp12', 'xoptepsq', 'xoptepsqp', 'xoptq', 'xoptqp', 'xrdq', 'xsgaq', 'acchgy', 'afudccy', 'afudciy', 'amcy', 'aolochy', 'apalchy', 'aqay', 'aqcy', 'aqdy', 'aqepsy', 'aqpy', 'arcedy', 'arceepsy', 'arcey', 'capxy', 'cdvcy', 'chechy', 'cibegniy', 'cicurry', 'cidergly', 'cimiiy', 'ciothery', 'cipeny', 'cisecgly', 'citotaly', 'ciy', 'cogsy', 'cshfdy', 'cshpry', 'cstkey', 'depcy', 'derhedgly', 'dilady', 'dilavy', 'dlcchy', 'dltisy', 'dltry', 'doy', 'dpcy', 'dprety', 'dpy', 'dteay', 'dtedy', 'dteepsy', 'dtepy', 'dvpy', 'dvy', 'epsfiy', 'epsfxy', 'epspiy', 'epspxy', 'esubcy', 'esuby', 'exrey', 'fcay', 'ffoy', 'fiaoy', 'fincfy', 'finrevy', 'finxinty', 'finxopry', 'fopoxy', 'fopoy', 'fopty', 'fsrcoy', 'fsrcty', 'fuseoy', 'fusety', 'gdwlamy', 'gdwliay', 'gdwlidy', 'gdwliepsy', 'gdwlipy', 'glay', 'glceay', 'glcedy', 'glceepsy', 'glcepy', 'gldy', 'glepsy', 'glivy', 'glpy', 'hedgegly', 'ibadjy', 'ibcomy', 'ibcy', 'ibmiiy', 'iby', 'intpny', 'invchy', 'itccy', 'ivacoy', 'ivchy', 'ivncfy', 'ivstchy', 'miiy', 'ncoy', 'niity', 'nimy', 'niy', 'nopiy', 'nrtxtdy', 'nrtxtepsy', 'nrtxty', 'oancfy', 'oepsxy', 'oiadpy', 'oibdpy', 'opepsy', 'optdry', 'optfvgry', 'optlifey', 'optrfry', 'optvoly', 'pdvcy', 'piy', 'plly', 'pncdy', 'pncepsy', 'pnciapy', 'pnciay', 'pncidpy', 'pncidy', 'pnciepspy', 'pnciepsy', 'pncippy', 'pncipy', 'pncpdy', 'pncpepsy', 'pncpy', 'pncwiapy', 'pncwiay', 'pncwidpy', 'pncwidy', 'pncwiepsy', 'pncwiepy', 'pncwippy', 'pncwipy', 'pncy', 'prcay', 'prcdy', 'prcepsy', 'prcpdy', 'prcpepsy', 'prcpy', 'prstkccy', 'prstkcy', 'prstkpcy', 'rcay', 'rcdy', 'rcepsy', 'rcpy', 'rdipay', 'rdipdy', 'rdipepsy', 'rdipy', 'recchy', 'revty', 'rray', 'rrdy', 'rrepsy', 'rrpy', 'saley', 'scstkcy', 'setay', 'setdy', 'setepsy', 'setpy', 'sivy', 'spcedpy', 'spcedy', 'spceepspy', 'spceepsy', 'spcepy', 'spcey', 'spidy', 'spiepsy', 'spioay', 'spiopy', 'spiy', 'sppey', 'sppivy', 'spstkcy', 'srety', 'sstky', 'stkcoy', 'stkcpay', 'tdcy', 'tfvcey', 'tiey', 'tiiy', 'tsafcy', 'txachy', 'txbcofy', 'txbcoy', 'txdcy', 'txdiy', 'txpdy', 'txty', 'txwy', 'uaolochy', 'udfccy', 'udvpy', 'ufretsdy', 'ugiy', 'uniamiy', 'unopincy', 'unwccy', 'uoisy', 'updvpy', 'uptacy', 'uspiy', 'ustdncy', 'usubdvpy', 'utfdocy', 'utfoscy', 'utmey', 'uwkcapcy', 'wcapchy', 'wcapcy', 'wday', 'wddy', 'wdepsy', 'wdpy', 'xidocy', 'xidoy', 'xinty', 'xiy', 'xopry', 'xoptdqpy', 'xoptdy', 'xoptepsqpy', 'xoptepsy', 'xoptqpy', 'xopty', 'xrdy', 'xsgay', 'iid', 'exchg', 'cik', 'costat', 'fic', 'cshtrq', 'dvpspq', 'dvpsxq', 'mkvaltq', 'prccq', 'prchq', 'prclq', 'adjex']

## Check the downloaded data

In [6]:
file_path = "/home/sagemaker-user/capstone-2024-summer/src/jenna/crsp_compustat_merged_2018_2023.csv"
# Read the CSV file with specified data types
df = pd.read_csv(file_path, low_memory=False)

In [7]:
df.head(10)

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,costat,fic,cshtrq,dvpspq,dvpsxq,mkvaltq,prccq,prchq,prclq,adjex
0,68389X10,10104,8045,10536,1,7379,2018-01-02,46.170,47.8011,46.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68389X10,10104,8045,10536,1,7379,2018-01-03,47.440,48.0700,47.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68389X10,10104,8045,10536,1,7379,2018-01-04,47.715,48.1900,48.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,68389X10,10104,8045,10536,1,7379,2018-01-05,48.280,48.6300,48.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68389X10,10104,8045,10536,1,7379,2018-01-08,47.940,49.0700,48.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,68389X10,10104,8045,10536,1,7379,2018-01-09,48.920,49.3600,49.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,68389X10,10104,8045,10536,1,7379,2018-01-10,48.580,49.2700,48.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,68389X10,10104,8045,10536,1,7379,2018-01-11,48.440,49.0200,48.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,68389X10,10104,8045,10536,1,7379,2018-01-12,49.060,49.8250,49.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,68389X10,10104,8045,10536,1,7379,2018-01-16,49.440,50.0600,49.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN